integration-tests/src/it/resources/dtd/squash-tm.1.11.0.dtd


<!ELEMENT dataset (
    ACL_CLASS*,
    ACL_GROUP*,
    ACL_GROUP_PERMISSION*,
    ACL_OBJECT_IDENTITY*,
    ACL_RESPONSIBILITY_SCOPE_ENTRY*,
    ACTION_TEST_STEP*,
    ATTACHMENT*,
    ATTACHMENT_CONTENT*,
    ATTACHMENT_LIST*,    
    AUTH_USER*,
    AUTOMATED_EXECUTION_EXTENDER*,
    AUTOMATED_SUITE*,
    AUTOMATED_TEST*,
    BUGTRACKER*,
    BUGTRACKER_BINDING*,
    CALL_TEST_STEP*,
    CAMPAIGN*,
    CAMPAIGN_FOLDER*,
    CAMPAIGN_ITERATION*,
    CAMPAIGN_LIBRARY*,
    CAMPAIGN_LIBRARY_CONTENT*,
    CAMPAIGN_LIBRARY_NODE*,
    CAMPAIGN_TEST_PLAN_ITEM*,
    CLN_RELATIONSHIP*,
    CLN_RELATIONSHIP_CLOSURE*,
    CORE_CONFIG*,
    CORE_GROUP*,
    CORE_GROUP_AUTHORITY*,
    CORE_GROUP_MEMBER*,
    CORE_PARTY*,
    CORE_PARTY_AUTHORITY*,
    CORE_TEAM*,
    CORE_TEAM_MEMBER*,
    CORE_USER*,	
    CUSTOM_FIELD*,
    CUSTOM_FIELD_BINDING*,
    CUSTOM_FIELD_OPTION*,
    CUSTOM_FIELD_RENDERING_LOCATION*,
    CUSTOM_FIELD_VALUE*,   
    DATABASECHANGELOG*,
    DATABASECHANGELOGLOCK*,
    DATASET*,
    DATASET_PARAM_VALUE*,
    DENORMALIZED_FIELD_VALUE*,
    DENORMALIZED_FIELD_RENDERING_LOCATION*,
    EXECUTION*,
    EXECUTION_EXECUTION_STEPS*,
    EXECUTION_STEP*,
    ISSUE*,
    ISSUE_LIST*,    
    ITEM_TEST_PLAN_EXECUTION*,
    TEST_SUITE_TEST_PLAN_ITEM*,
    ITEM_TEST_PLAN_LIST*,   
    ITERATION*,
    ITERATION_TEST_PLAN_ITEM*,
    ITERATION_TEST_SUITE*,
    LIBRARY_PLUGIN_BINDING*,
    LIBRARY_PLUGIN_BINDING_PROPERTY*,
    PARAMETER*,
    PROJECT*,
    PROJECT_FILTER*,
    PROJECT_FILTER_ENTRY*,
    REQUIREMENT*,
    REQUIREMENT_AUDIT_EVENT*,
    REQUIREMENT_CREATION*,
    REQUIREMENT_FOLDER*,
    REQUIREMENT_LARGE_PROPERTY_CHANGE*,
    REQUIREMENT_LIBRARY*,
    REQUIREMENT_LIBRARY_CONTENT*,
    REQUIREMENT_LIBRARY_NODE*,
    REQUIREMENT_PROPERTY_CHANGE*,
    REQUIREMENT_VERSION*,
    REQUIREMENT_VERSION_COVERAGE*,
    RESOURCE*,
    RLN_RELATIONSHIP*,
    RLN_RELATIONSHIP_CLOSURE*,
    SIMPLE_RESOURCE*,
    TCLN_RELATIONSHIP*,
    TCLN_RELATIONSHIP_CLOSURE*,
    TEST_AUTOMATION_PROJECT*,
    TEST_AUTOMATION_SERVER*,    
    TEST_CASE*,
    TEST_CASE_FOLDER*,
    TEST_CASE_LIBRARY*,
    TEST_CASE_LIBRARY_CONTENT*,
    TEST_CASE_LIBRARY_NODE*,
    TEST_CASE_STEPS*,
    TEST_STEP*,
    TEST_SUITE*,
    VERIFYING_STEPS*,    
    acl_class?,
    acl_group?,
    acl_group_permission?,
    acl_object_identity?,
    acl_responsibility_scope_entry?,
    action_test_step?,
    attachment?,
    attachment_content?,
    attachment_list?,    
    auth_user?,
    automated_execution_extender?,
    automated_suite?,
    automated_test?,
    bugtracker?,
    bugtracker_binding?,
    call_test_step?,
    campaign?,
    campaign_folder?,
    campaign_iteration?,
    campaign_library?,
    campaign_library_content?,
    campaign_library_node?,
    campaign_test_plan_item?,
    cln_relationship?,
    cln_relationship_closure?,
    core_config?,
    core_group?,
    core_group_authority?,
    core_group_member?,
    core_party?,
    core_party_authority?,
    core_team?,
    core_team_member?,
    core_user?,	
    custom_field?,
    custom_field_binding?,
    custom_field_option?,
    custom_field_rendering_location?,
    custom_field_value?,
    databasechangelog?,
    databasechangeloglock?,
    Dataset?,
    dataset_param_value?,
    denormalized_field_value?,
    denormalized_field_rendering_location?,
    execution?,
    execution_execution_steps?,
    execution_step?,
    issue?,
    issue_list?,    
    item_test_plan_execution?,
    test_suite_test_plan_item?,
    item_test_plan_list?,   
    iteration?,
    iteration_test_plan_item?,
    iteration_test_suite?,
    library_plugin_binding?,
    library_plugin_binding_property?,
    parameter?,
    project?,
    project_filter?,
    project_filter_entry?,
    requirement?,
    requirement_audit_event?,
    requirement_creation?,
    requirement_folder?,
    requirement_large_property_change?,
    requirement_library?,
    requirement_library_content?,
    requirement_library_node?,
    requirement_property_change?,
    requirement_version?,
    requirement_version_coverage?,
    resource?,
    rln_relationship?,
    rln_relationship_closure?,
    simple_resource?,
    tcln_relationship?,
    tcln_relationship_closure?,
    test_automation_project?,
    test_automation_server?,    
    test_case?,
    test_case_folder?,
    test_case_library?,
    test_case_library_content?,
    test_case_library_node?,
    test_case_steps?,
    test_step?,
    test_suite?,
    verifying_steps?
    )+>

<!ELEMENT ACL_CLASS EMPTY>
<!ATTLIST ACL_CLASS
    ID CDATA #IMPLIED
    CLASSNAME CDATA #REQUIRED
>

<!ELEMENT ACL_GROUP EMPTY>
<!ATTLIST ACL_GROUP
    ID CDATA #IMPLIED
    QUALIFIED_NAME CDATA #REQUIRED
>

<!ELEMENT ACL_GROUP_PERMISSION EMPTY>
<!ATTLIST ACL_GROUP_PERMISSION
    ACL_GROUP_ID CDATA #REQUIRED
    PERMISSION_MASK CDATA #REQUIRED
    CLASS_ID CDATA #REQUIRED
    PERMISSION_ORDER CDATA #IMPLIED
    GRANTING CDATA #IMPLIED
>

<!ELEMENT ACL_OBJECT_IDENTITY EMPTY>
<!ATTLIST ACL_OBJECT_IDENTITY
    ID CDATA #IMPLIED
    IDENTITY CDATA #REQUIRED
    CLASS_ID CDATA #REQUIRED
>

<!ELEMENT ACL_RESPONSIBILITY_SCOPE_ENTRY EMPTY>
<!ATTLIST ACL_RESPONSIBILITY_SCOPE_ENTRY
    ID CDATA #IMPLIED 
    PARTY_ID CDATA #REQUIRED
    ACL_GROUP_ID CDATA #REQUIRED
    OBJECT_IDENTITY_ID CDATA #REQUIRED
>

<!ELEMENT ACTION_TEST_STEP EMPTY>
<!ATTLIST ACTION_TEST_STEP
    TEST_STEP_ID CDATA #REQUIRED
    ACTION CDATA #REQUIRED
    EXPECTED_RESULT CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
>

<!ELEMENT ATTACHMENT EMPTY>
<!ATTLIST ATTACHMENT
    ATTACHMENT_ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    SIZE CDATA #REQUIRED
    ADDED_ON CDATA #REQUIRED
    CONTENT_ID CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #REQUIRED
>

<!ELEMENT ATTACHMENT_CONTENT EMPTY>
<!ATTLIST ATTACHMENT_CONTENT
    ATTACHMENT_CONTENT_ID CDATA #IMPLIED
    STREAM_CONTENT CDATA #IMPLIED
>

<!ELEMENT ATTACHMENT_LIST EMPTY>
<!ATTLIST ATTACHMENT_LIST
    ATTACHMENT_LIST_ID CDATA #REQUIRED
>

<!ELEMENT AUTH_USER EMPTY>
<!ATTLIST AUTH_USER
    LOGIN CDATA #REQUIRED
    PASSWORD CDATA #REQUIRED
    ACTIVE CDATA #REQUIRED
>
<!ELEMENT AUTOMATED_EXECUTION_EXTENDER EMPTY>
<!ATTLIST AUTOMATED_EXECUTION_EXTENDER
    EXTENDER_ID CDATA #REQUIRED
    MASTER_EXECUTION_ID CDATA #REQUIRED
    TEST_ID CDATA #REQUIRED
    RESULT_URL CDATA #IMPLIED
    SUITE_ID CDATA #IMPLIED
    RESULT_SUMMARY CDATA #IMPLIED
    EXECUTION_EXTENDER_ORDER CDATA #REQUIRED
>
<!ELEMENT AUTOMATED_SUITE EMPTY>
<!ATTLIST AUTOMATED_SUITE
    SUITE_ID CDATA #REQUIRED
>
<!ELEMENT AUTOMATED_TEST EMPTY>
<!ATTLIST AUTOMATED_TEST
    TEST_ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    PROJECT_ID CDATA #IMPLIED
>
<!ELEMENT BUGTRACKER EMPTY>
<!ATTLIST BUGTRACKER 
	BUGTRACKER_ID CDATA #IMPLIED
	NAME CDATA #REQUIRED
	KIND CDATA #REQUIRED
	URL CDATA #REQUIRED
	IFRAME_FRIENDLY CDATA #IMPLIED
>

<!ELEMENT BUGTRACKER_BINDING EMPTY>
<!ATTLIST BUGTRACKER_BINDING
	BUGTRACKER_BINDING_ID CDATA #REQUIRED
	BUGTRACKER_ID CDATA #REQUIRED
	PROJECT_NAME CDATA #IMPLIED
	PROJECT_ID CDATA #REQUIRED
>

<!ELEMENT CALL_TEST_STEP EMPTY>
<!ATTLIST CALL_TEST_STEP
    TEST_STEP_ID CDATA #REQUIRED
    CALLED_TEST_CASE_ID CDATA #REQUIRED
    DELEGATE_PARAMETER_VALUES CDATA #IMPLIED
    CALLED_DATASET CDATA #IMPLIED
>

<!ELEMENT CAMPAIGN EMPTY>
<!ATTLIST CAMPAIGN
    CLN_ID CDATA #REQUIRED
    ACTUAL_END_AUTO CDATA #REQUIRED
    ACTUAL_END_DATE CDATA #IMPLIED
    ACTUAL_START_AUTO CDATA #REQUIRED
    ACTUAL_START_DATE CDATA #IMPLIED
    SCHEDULED_END_DATE CDATA #IMPLIED
    SCHEDULED_START_DATE CDATA #IMPLIED
>

<!ELEMENT CAMPAIGN_FOLDER EMPTY>
<!ATTLIST CAMPAIGN_FOLDER
    CLN_ID CDATA #REQUIRED
>

<!ELEMENT CAMPAIGN_ITERATION EMPTY>
<!ATTLIST CAMPAIGN_ITERATION
    CAMPAIGN_ID CDATA #REQUIRED
    ITERATION_ID CDATA #REQUIRED
    ITERATION_ORDER CDATA #REQUIRED
>

<!ELEMENT CAMPAIGN_LIBRARY EMPTY>
<!ATTLIST CAMPAIGN_LIBRARY
    CL_ID CDATA #REQUIRED
    ATTACHMENT_LIST_ID CDATA #REQUIRED
>

<!ELEMENT CAMPAIGN_LIBRARY_CONTENT EMPTY>
<!ATTLIST CAMPAIGN_LIBRARY_CONTENT
    LIBRARY_ID CDATA #REQUIRED
    CONTENT_ID CDATA #REQUIRED
    CONTENT_ORDER CDATA #REQUIRED
>

<!ELEMENT CAMPAIGN_LIBRARY_NODE EMPTY>
<!ATTLIST CAMPAIGN_LIBRARY_NODE
    CLN_ID CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #REQUIRED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_ON CDATA #IMPLIED
    LAST_MODIFIED_BY CDATA #IMPLIED
    PROJECT_ID CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #REQUIRED
>

<!ELEMENT CAMPAIGN_TEST_PLAN_ITEM EMPTY>
<!ATTLIST CAMPAIGN_TEST_PLAN_ITEM
    CTPI_ID CDATA #IMPLIED
    CAMPAIGN_ID CDATA #IMPLIED
    TEST_CASE_ID CDATA #REQUIRED
    USER_ID CDATA #IMPLIED
    TEST_PLAN_ORDER CDATA #IMPLIED
>

<!ELEMENT CLN_RELATIONSHIP EMPTY>
<!ATTLIST CLN_RELATIONSHIP
    ANCESTOR_ID CDATA #REQUIRED
    DESCENDANT_ID CDATA #REQUIRED
    CONTENT_ORDER CDATA #REQUIRED
>

<!ELEMENT CLN_RELATIONSHIP_CLOSURE EMPTY>
<!ATTLIST CLN_RELATIONSHIP_CLOSURE
    ANCESTOR_ID CDATA #REQUIRED
    DESCENDANT_ID CDATA #REQUIRED
    DEPTH CDATA #REQUIRED
>

<!ELEMENT CORE_CONFIG EMPTY>
<!ATTLIST CORE_CONFIG
    STR_KEY CDATA #REQUIRED
    VALUE CDATA #IMPLIED
>

<!ELEMENT CORE_GROUP EMPTY>
<!ATTLIST CORE_GROUP
    ID CDATA #REQUIRED
    QUALIFIED_NAME CDATA #REQUIRED
>

<!ELEMENT CORE_GROUP_AUTHORITY EMPTY>
<!ATTLIST CORE_GROUP_AUTHORITY
    GROUP_ID CDATA #REQUIRED
    AUTHORITY CDATA #REQUIRED
>

<!ELEMENT CORE_GROUP_MEMBER EMPTY>
<!ATTLIST CORE_GROUP_MEMBER
    PARTY_ID CDATA #REQUIRED
    GROUP_ID CDATA #REQUIRED
>

<!ELEMENT CORE_PARTY EMPTY>
<!ATTLIST CORE_PARTY
	PARTY_ID CDATA #IMPLIED
>
<!ELEMENT CORE_PARTY_AUTHORITY EMPTY>
<!ATTLIST CORE_PARTY_AUTHORITY 
	PARTY_ID CDATA #REQUIRED
	AUTHORITY (ROLE_TM_PROJECT_MANAGER) #REQUIRED
>


<!ELEMENT CORE_TEAM EMPTY>
<!ATTLIST CORE_TEAM
	PARTY_ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
	DESCRIPTION CDATA #IMPLIED
	CREATED_BY CDATA #REQUIRED
	CREATED_ON CDATA #REQUIRED
>
 
<!ELEMENT CORE_TEAM_MEMBER EMPTY>
<!ATTLIST CORE_TEAM_MEMBER
	TEAM_ID CDATA #REQUIRED
	USER_ID CDATA #REQUIRED
>
    
<!ELEMENT CORE_USER EMPTY>
<!ATTLIST CORE_USER
    PARTY_ID CDATA #REQUIRED
    LOGIN CDATA #REQUIRED
    FIRST_NAME CDATA #IMPLIED
    LAST_NAME CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    ACTIVE CDATA #IMPLIED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_ON CDATA #IMPLIED
    LAST_MODIFIED_BY CDATA #IMPLIED
>


<!ELEMENT CUSTOM_FIELD EMPTY>
<!ATTLIST CUSTOM_FIELD
	CF_ID CDATA #REQUIRED
	FIELD_TYPE (SSF|CF) #REQUIRED
	NAME CDATA #REQUIRED
	OPTIONAL CDATA #IMPLIED
	CODE CDATA  #REQUIRED
	LABEL CDATA #REQUIRED
	DEFAULT_VALUE CDATA #IMPLIED
	INPUT_TYPE (PLAIN_TEXT|CHECKBOX|DROPDOWN_LIST|DATE_PICKER) #REQUIRED>

<!ELEMENT CUSTOM_FIELD_BINDING EMPTY>
<!ATTLIST CUSTOM_FIELD_BINDING
	CFB_ID CDATA #REQUIRED
	CF_ID CDATA #REQUIRED
	BOUND_ENTITY (TEST_CASE|TEST_STEP|CAMPAIGN|ITERATION|TEST_SUITE|REQUIREMENT_VERSION|EXECUTION|EXECUTION_STEP) #REQUIRED
	POSITION CDATA #REQUIRED
	BOUND_PROJECT_ID CDATA #REQUIRED
>

<!ELEMENT CUSTOM_FIELD_OPTION EMPTY>
<!ATTLIST CUSTOM_FIELD_OPTION
	CF_ID CDATA #REQUIRED
	CODE CDATA #REQUIRED
	LABEL CDATA #REQUIRED
	POSITION CDATA #REQUIRED
>

<!ELEMENT CUSTOM_FIELD_RENDERING_LOCATION EMPTY>
<!ATTLIST CUSTOM_FIELD_RENDERING_LOCATION
	CFB_ID CDATA #REQUIRED
	RENDERING_LOCATION (LINK_TABLE|TEST_PLAN|EXECUTION|SEARCH_CRITERIA|STEP_TABLE)  #REQUIRED
>

<!ELEMENT CUSTOM_FIELD_VALUE EMPTY>
<!ATTLIST CUSTOM_FIELD_VALUE
	CFV_ID CDATA #REQUIRED
	BOUND_ENTITY_ID CDATA #REQUIRED
	BOUND_ENTITY_TYPE (TEST_STEP|TEST_CASE|CAMPAIGN|ITERATION|REQUIREMENT_VERSION|TEST_SUITE|EXECUTION|EXECUTION_STEP) #REQUIRED
	CFB_ID CDATA #REQUIRED
	VALUE CDATA #IMPLIED
>


<!ELEMENT DATABASECHANGELOG EMPTY>
<!ATTLIST DATABASECHANGELOG
    ID CDATA #REQUIRED
    AUTHOR CDATA #REQUIRED
    FILENAME CDATA #REQUIRED
    DATEEXECUTED CDATA #REQUIRED
    ORDEREXECUTED CDATA #REQUIRED
    EXECTYPE CDATA #REQUIRED
    MD5SUM CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    COMMENTS CDATA #IMPLIED
    TAG CDATA #IMPLIED
    LIQUIBASE CDATA #IMPLIED
>

<!ELEMENT DATABASECHANGELOGLOCK EMPTY>
<!ATTLIST DATABASECHANGELOGLOCK
    ID CDATA #REQUIRED
    LOCKED CDATA #REQUIRED
    LOCKGRANTED CDATA #IMPLIED
    LOCKEDBY CDATA #IMPLIED
>
<!ELEMENT DATASET EMPTY>
<!ATTLIST DATASET
    DATASET_ID CDATA #REQUIRED
	TEST_CASE_ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
>

<!ELEMENT DATASET_PARAM_VALUE EMPTY>
<!ATTLIST DATASET_PARAM_VALUE
    DATASET_PARAM_VALUE_ID CDATA #REQUIRED
    DATASET_ID CDATA #REQUIRED
    PARAM_ID CDATA #REQUIRED
    PARAM_VALUE CDATA #REQUIRED
>
<!ELEMENT DENORMALIZED_FIELD_VALUE EMPTY>
<!ATTLIST DENORMALIZED_FIELD_VALUE
    DFV_ID CDATA #IMPLIED
    CFV_ID CDATA #IMPLIED
    CODE  CDATA #REQUIRED
  	FIELD_TYPE (SSF|CF) #REQUIRED
    DENORMALIZED_FIELD_HOLDER_ID  CDATA #REQUIRED
    DENORMALIZED_FIELD_HOLDER_TYPE (EXECUTION|EXECUTION_STEP) #REQUIRED
    INPUT_TYPE (PLAIN_TEXT|CHECKBOX|DROPDOWN_LIST|DATE_PICKER)  #REQUIRED
    LABEL CDATA #REQUIRED
    POSITION CDATA #REQUIRED
    VALUE CDATA #REQUIRED
>
<!ELEMENT DENORMALIZED_FIELD_RENDERING_LOCATION EMPTY>
<!ATTLIST DENORMALIZED_FIELD_RENDERING_LOCATION
	DFV_ID CDATA #REQUIRED
	RENDERING_LOCATION (LINK_TABLE|TEST_PLAN|EXECUTION|SEARCH_CRITERIA|STEP_TABLE)  #REQUIRED
>

<!ELEMENT EXECUTION EMPTY>
<!ATTLIST EXECUTION
    EXECUTION_ID CDATA #REQUIRED
    TCLN_ID CDATA #IMPLIED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #REQUIRED
    EXECUTION_MODE (MANUAL|AUTOMATED|UNDEFINED) "MANUAL"
    EXECUTION_STATUS (BLOCKED|ERROR|FAILURE|NOT_RUN|READY|RUNNING|SETTLED|SUCCESS|UNTESTABLE|WARNING|NOT_FOUND) "READY"
    LAST_EXECUTED_BY CDATA #IMPLIED
    LAST_EXECUTED_ON CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
    ISSUE_LIST_ID CDATA #IMPLIED
    PREREQUISITE CDATA #REQUIRED
    TC_NATURE (UNDEFINED|FUNCTIONAL_TESTING|BUSINESS_TESTING|NON_FUNCTIONAL_TESTING|PERFORMANCE_TESTING|SECURITY_TESTING|ATDD|USER_TESTING) "UNDEFINED"
    TC_TYPE (UNDEFINED|COMPLIANCE_TESTING|CORRECTION_TESTING|END_TO_END_TESTING|EVOLUTION_TESTING|PARTNER_TESTING|REGRESSION_TESTING) "UNDEFINED"
    TC_STATUS (WORK_IN_PROGRESS|UNDER_REVIEW|APPROVED|OBSOLETE|TO_BE_UPDATED) "WORK_IN_PROGRESS"
    IMPORTANCE (VERY_HIGH|HIGH|MEDIUM|LOW) "LOW"
    REFERENCE CDATA #IMPLIED
    TC_DESCRIPTION CDATA #IMPLIED
>

<!ELEMENT EXECUTION_EXECUTION_STEPS EMPTY>
<!ATTLIST EXECUTION_EXECUTION_STEPS
    EXECUTION_ID CDATA #REQUIRED
    EXECUTION_STEP_ID CDATA #REQUIRED
    EXECUTION_STEP_ORDER CDATA #REQUIRED
>

<!ELEMENT EXECUTION_STEP EMPTY>
<!ATTLIST EXECUTION_STEP
    EXECUTION_STEP_ID CDATA #REQUIRED
    EXPECTED_RESULT CDATA #IMPLIED
    ACTION CDATA #REQUIRED
    EXECUTION_STATUS  (BLOCKED|READY|SETTLED|SUCCESS|UNTESTABLE|FAILURE) "READY"
    LAST_EXECUTED_BY CDATA #IMPLIED
    LAST_EXECUTED_ON CDATA #IMPLIED
    COMMENT CDATA #IMPLIED
    TEST_STEP_ID CDATA #IMPLIED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
    ISSUE_LIST_ID CDATA #IMPLIED
>

<!ELEMENT ISSUE EMPTY>
<!ATTLIST ISSUE
    ISSUE_ID CDATA #REQUIRED
    REMOTE_ISSUE_ID CDATA #REQUIRED
    ISSUE_LIST_ID CDATA #REQUIRED
    BUGTRACKER_ID CDATA #REQUIRED
>

<!ELEMENT ISSUE_LIST EMPTY>
<!ATTLIST ISSUE_LIST
    ISSUE_LIST_ID CDATA #REQUIRED
>

<!ELEMENT ITEM_TEST_PLAN_EXECUTION EMPTY>
<!ATTLIST ITEM_TEST_PLAN_EXECUTION
    ITEM_TEST_PLAN_ID CDATA #REQUIRED
    EXECUTION_ID CDATA #REQUIRED
    EXECUTION_ORDER CDATA #REQUIRED
>

<!ELEMENT TEST_SUITE_TEST_PLAN_ITEM EMPTY>
<!ATTLIST TEST_SUITE_TEST_PLAN_ITEM
    TPI_ID CDATA #REQUIRED
    SUITE_ID CDATA #REQUIRED
    TEST_PLAN_ORDER CDATA #IMPLIED
>

<!ELEMENT ITEM_TEST_PLAN_LIST EMPTY>
<!ATTLIST ITEM_TEST_PLAN_LIST
    ITERATION_ID CDATA #REQUIRED
    ITEM_TEST_PLAN_ID CDATA #REQUIRED
    ITEM_TEST_PLAN_ORDER CDATA #REQUIRED
>

<!ELEMENT ITERATION EMPTY>
<!ATTLIST ITERATION
    ITERATION_ID CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #REQUIRED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    ACTUAL_END_AUTO CDATA #REQUIRED
    ACTUAL_END_DATE CDATA #IMPLIED
    ACTUAL_START_AUTO CDATA #REQUIRED
    ACTUAL_START_DATE CDATA #IMPLIED
    SCHEDULED_END_DATE CDATA #IMPLIED
    SCHEDULED_START_DATE CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
>
<!ELEMENT ITERATION_TEST_PLAN_ITEM EMPTY>
<!ATTLIST ITERATION_TEST_PLAN_ITEM
    ITEM_TEST_PLAN_ID CDATA #REQUIRED
    EXECUTION_STATUS (BLOCKED|READY|RUNNING|SETTLED|SUCCESS|UNTESTABLE|FAILURE) "READY"
    LAST_EXECUTED_BY CDATA #IMPLIED
    LAST_EXECUTED_ON CDATA #IMPLIED
    TCLN_ID CDATA #IMPLIED
    LABEL CDATA #IMPLIED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    USER_ID CDATA #IMPLIED
    DATASET_ID CDATA #IMPLIED
>

<!ELEMENT ITERATION_TEST_SUITE EMPTY>
<!ATTLIST ITERATION_TEST_SUITE
	ITERATION_ID CDATA #REQUIRED
    TEST_SUITE_ID CDATA #REQUIRED
>

<!ELEMENT LIBRARY_PLUGIN_BINDING EMPTY>
<!ATTLIST LIBRARY_PLUGIN_BINDING
PLUGIN_BINDING_ID CDATA #REQUIRED
LIBRARY_ID CDATA #REQUIRED
LIBRARY_TYPE (R|T|C) #REQUIRED
PLUGIN_ID CDATA #REQUIRED
>
<!ELEMENT LIBRARY_PLUGIN_BINDING_PROPERTY EMPTY>
<!ATTLIST LIBRARY_PLUGIN_BINDING_PROPERTY
PLUGIN_BINDING_ID CDATA #REQUIRED
PLUGIN_BINDING_KEY CDATA #REQUIRED
PLUGIN_BINDING_VALUE CDATA #REQUIRED
>

<!ELEMENT PARAMETER EMPTY>
<!ATTLIST PARAMETER
    PARAM_ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    TEST_CASE_ID CDATA #REQUIRED
    DESCRIPTION CDATA #REQUIRED
>
<!ELEMENT PROJECT EMPTY>
<!ATTLIST PROJECT
    PROJECT_ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    LABEL CDATA #IMPLIED
    ACTIVE CDATA #IMPLIED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    CL_ID CDATA #IMPLIED
    TCL_ID CDATA #IMPLIED
    RL_ID CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #REQUIRED
    PROJECT_TYPE CDATA #IMPLIED
    TA_SERVER_ID CDATA #IMPLIED
>

<!ELEMENT PROJECT_FILTER EMPTY>
<!ATTLIST PROJECT_FILTER
    PROJECT_FILTER_ID CDATA #REQUIRED
    ACTIVATED CDATA #REQUIRED
    USER_LOGIN CDATA #REQUIRED
>

<!ELEMENT PROJECT_FILTER_ENTRY EMPTY>
<!ATTLIST PROJECT_FILTER_ENTRY
    PROJECT_ID CDATA #REQUIRED
    FILTER_ID CDATA #REQUIRED
>

<!ELEMENT REQUIREMENT EMPTY>
<!ATTLIST REQUIREMENT
    RLN_ID CDATA #REQUIRED
    CURRENT_VERSION_ID CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT_AUDIT_EVENT EMPTY>
<!ATTLIST REQUIREMENT_AUDIT_EVENT
    EVENT_ID CDATA #REQUIRED
    REQ_VERSION_ID CDATA #REQUIRED
    EVENT_DATE CDATA #REQUIRED
    AUTHOR CDATA #REQUIRED
>

<!ELEMENT REQUIREMENT_CREATION EMPTY>
<!ATTLIST REQUIREMENT_CREATION
    EVENT_ID CDATA #REQUIRED
>

<!ELEMENT REQUIREMENT_FOLDER EMPTY>
<!ATTLIST REQUIREMENT_FOLDER
    RLN_ID CDATA #REQUIRED
    RES_ID CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT_LARGE_PROPERTY_CHANGE EMPTY>
<!ATTLIST REQUIREMENT_LARGE_PROPERTY_CHANGE
    EVENT_ID CDATA #REQUIRED
    OLD_VALUE CDATA #IMPLIED
    NEW_VALUE CDATA #IMPLIED
    PROPERTY_NAME CDATA #REQUIRED
>

<!ELEMENT REQUIREMENT_LIBRARY EMPTY>
<!ATTLIST REQUIREMENT_LIBRARY
    RL_ID CDATA #REQUIRED
     ATTACHMENT_LIST_ID CDATA #REQUIRED
>

<!ELEMENT REQUIREMENT_LIBRARY_CONTENT EMPTY>
<!ATTLIST REQUIREMENT_LIBRARY_CONTENT
    LIBRARY_ID CDATA #REQUIRED
    CONTENT_ID CDATA #REQUIRED
    CONTENT_ORDER CDATA #REQUIRED
>

<!ELEMENT REQUIREMENT_LIBRARY_NODE EMPTY>
<!ATTLIST REQUIREMENT_LIBRARY_NODE
    RLN_ID CDATA #REQUIRED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    PROJECT_ID CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT_PROPERTY_CHANGE EMPTY>
<!ATTLIST REQUIREMENT_PROPERTY_CHANGE
    EVENT_ID CDATA #REQUIRED
    OLD_VALUE CDATA #IMPLIED
    NEW_VALUE CDATA #IMPLIED
    PROPERTY_NAME CDATA #REQUIRED
>

<!ELEMENT REQUIREMENT_VERSION EMPTY>
<!ATTLIST REQUIREMENT_VERSION
    RES_ID CDATA #REQUIRED
    REQUIREMENT_ID CDATA #IMPLIED
    REFERENCE  CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
    CRITICALITY (MINOR|MAJOR|CRITICAL|UNDEFINED) "UNDEFINED"
    REQUIREMENT_STATUS (WORK_IN_PROGRESS|UNDER_REVIEW|APPROVED|OBSOLETE) "WORK_IN_PROGRESS"
    CATEGORY (BUSINESS|ERGONOMIC|FUNCTIONAL|NON_FUNCTIONAL|PERFORMANCE|SECURITY|TECHNICAL|TEST_REQUIREMENT|UNDEFINED|USE_CASE|USER_STORY) "UNDEFINED"
>

<!ELEMENT REQUIREMENT_VERSION_COVERAGE EMPTY>
<!ATTLIST REQUIREMENT_VERSION_COVERAGE
	REQUIREMENT_VERSION_COVERAGE_ID CDATA #IMPLIED
    VERIFIED_REQ_VERSION_ID CDATA #REQUIRED
    VERIFYING_TEST_CASE_ID CDATA #REQUIRED
>


<!ELEMENT RESOURCE EMPTY>
<!ATTLIST RESOURCE
	RES_ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED    
    ATTACHMENT_LIST_ID CDATA #REQUIRED
>

<!ELEMENT RLN_RELATIONSHIP EMPTY>
<!ATTLIST RLN_RELATIONSHIP
    ANCESTOR_ID CDATA #REQUIRED
    DESCENDANT_ID CDATA #REQUIRED
    CONTENT_ORDER CDATA #REQUIRED
>

<!ELEMENT RLN_RELATIONSHIP_CLOSURE EMPTY>
<!ATTLIST RLN_RELATIONSHIP_CLOSURE
    ANCESTOR_ID CDATA #REQUIRED
    DESCENDANT_ID CDATA #REQUIRED
    DEPTH CDATA #REQUIRED
>

<!ELEMENT SIMPLE_RESOURCE EMPTY>
<!ATTLIST SIMPLE_RESOURCE
	RES_ID CDATA #REQUIRED
>

<!ELEMENT TCLN_RELATIONSHIP EMPTY>
<!ATTLIST TCLN_RELATIONSHIP
    ANCESTOR_ID CDATA #REQUIRED
    DESCENDANT_ID CDATA #REQUIRED
    CONTENT_ORDER CDATA #REQUIRED
>

<!ELEMENT TCLN_RELATIONSHIP_CLOSURE EMPTY>
<!ATTLIST TCLN_RELATIONSHIP_CLOSURE
    ANCESTOR_ID CDATA #REQUIRED
    DESCENDANT_ID CDATA #REQUIRED
    DEPTH CDATA #REQUIRED
>

<!ELEMENT TEST_AUTOMATION_PROJECT EMPTY>
<!ATTLIST TEST_AUTOMATION_PROJECT
    TM_PROJECT_ID CDATA #REQUIRED
    TA_PROJECT_ID CDATA #REQUIRED
    LABEL CDATA #REQUIRED
    REMOTE_NAME CDATA #REQUIRED
    SERVER_ID CDATA #REQUIRED
    EXECUTION_ENVIRONMENTS CDATA #IMPLIED
>

<!ELEMENT TEST_AUTOMATION_SERVER EMPTY>
<!ATTLIST TEST_AUTOMATION_SERVER
	NAME CDATA #REQUIRED
    SERVER_ID CDATA #REQUIRED
    BASE_URL CDATA #REQUIRED
    LOGIN CDATA #REQUIRED
    PASSWORD CDATA #REQUIRED
    KIND CDATA #REQUIRED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED    
    MANUAL_SLAVE_SELECTION CDATA #IMPLIED
>


<!ELEMENT TEST_CASE EMPTY>
<!ATTLIST TEST_CASE
    TCLN_ID CDATA #REQUIRED
    VERSION CDATA #REQUIRED
    EXECUTION_MODE (MANUAL|AUTOMATED|UNDEFINED) "MANUAL"
    IMPORTANCE (VERY_HIGH|HIGH|MEDIUM|LOW) "LOW"
    IMPORTANCE_AUTO CDATA #IMPLIED
    PREREQUISITE CDATA #REQUIRED
    REFERENCE CDATA #IMPLIED
    TA_TEST CDATA #IMPLIED
    TC_NATURE  (UNDEFINED|FUNCTIONAL_TESTING|BUSINESS_TESTING|NON_FUNCTIONAL_TESTING|PERFORMANCE_TESTING|SECURITY_TESTING|ATDD|USER_TESTING) "UNDEFINED"
    TC_TYPE (UNDEFINED|COMPLIANCE_TESTING|CORRECTION_TESTING|END_TO_END_TESTING|EVOLUTION_TESTING|PARTNER_TESTING|REGRESSION_TESTING) "UNDEFINED"
    TC_STATUS (WORK_IN_PROGRESS|UNDER_REVIEW|APPROVED|OBSOLETE|TO_BE_UPDATED) "WORK_IN_PROGRESS"
>

	
	
<!ELEMENT TEST_CASE_FOLDER EMPTY>
<!ATTLIST TEST_CASE_FOLDER
    TCLN_ID CDATA #REQUIRED
>

<!ELEMENT TEST_CASE_LIBRARY EMPTY>
<!ATTLIST TEST_CASE_LIBRARY
    TCL_ID CDATA #REQUIRED
    ATTACHMENT_LIST_ID CDATA #REQUIRED
>

<!ELEMENT TEST_CASE_LIBRARY_CONTENT EMPTY>
<!ATTLIST TEST_CASE_LIBRARY_CONTENT
    LIBRARY_ID CDATA #REQUIRED
    CONTENT_ID CDATA #REQUIRED
    CONTENT_ORDER CDATA #REQUIRED
>

<!ELEMENT TEST_CASE_LIBRARY_NODE EMPTY>
<!ATTLIST TEST_CASE_LIBRARY_NODE
    TCLN_ID CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #REQUIRED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    PROJECT_ID CDATA #IMPLIED    
    ATTACHMENT_LIST_ID CDATA #REQUIRED
>
<!ELEMENT TEST_CASE_STEPS EMPTY>
<!ATTLIST TEST_CASE_STEPS
    TEST_CASE_ID CDATA #REQUIRED
    STEP_ID CDATA #REQUIRED
    STEP_ORDER CDATA #REQUIRED
>

<!ELEMENT TEST_STEP EMPTY>
<!ATTLIST TEST_STEP
    TEST_STEP_ID CDATA #REQUIRED
>

<!ELEMENT TEST_SUITE EMPTY>
<!ATTLIST TEST_SUITE
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #REQUIRED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
>


<!ELEMENT VERIFYING_STEPS EMPTY>
<!ATTLIST VERIFYING_STEPS
	REQUIREMENT_VERSION_COVERAGE_ID CDATA #REQUIRED
	TEST_STEP_ID CDATA #REQUIRED
>


<!ELEMENT acl_class EMPTY>
<!ELEMENT acl_group EMPTY>
<!ELEMENT acl_group_permission EMPTY>
<!ELEMENT acl_object_identity EMPTY>
<!ELEMENT acl_responsibility_scope_entry EMPTY>
<!ELEMENT action_test_step EMPTY>
<!ELEMENT attachment EMPTY>
<!ELEMENT attachment_content EMPTY>
<!ELEMENT attachment_list EMPTY>
<!ELEMENT auth_user EMPTY>
<!ELEMENT automated_execution_extender EMPTY>
<!ELEMENT automated_suite EMPTY>
<!ELEMENT automated_test EMPTY>
<!ELEMENT bugtracker EMPTY>
<!ELEMENT bugtracker_binding EMPTY>
<!ELEMENT call_test_step EMPTY>
<!ELEMENT campaign EMPTY>
<!ELEMENT campaign_folder EMPTY>
<!ELEMENT campaign_iteration EMPTY>
<!ELEMENT campaign_library EMPTY>
<!ELEMENT campaign_library_content EMPTY>
<!ELEMENT campaign_library_node EMPTY>
<!ELEMENT campaign_test_plan_item EMPTY>
<!ELEMENT cln_relationship EMPTY>
<!ELEMENT cln_relationship_closure EMPTY>
<!ELEMENT core_config EMPTY>
<!ELEMENT core_group EMPTY>
<!ELEMENT core_group_authority EMPTY>
<!ELEMENT core_group_member EMPTY>
<!ELEMENT core_party EMPTY>
<!ELEMENT core_party_authority EMPTY>
<!ELEMENT core_team EMPTY>
<!ELEMENT core_team_member EMPTY>    
<!ELEMENT core_user EMPTY>
<!ELEMENT custom_field EMPTY>
<!ELEMENT custom_field_binding EMPTY>
<!ELEMENT custom_field_option EMPTY>
<!ELEMENT custom_field_rendering_location EMPTY>
<!ELEMENT custom_field_value EMPTY>
<!ELEMENT Dataset EMPTY>
<!ELEMENT databasechangelog EMPTY>
<!ELEMENT databasechangeloglock EMPTY>
<!ELEMENT dataset_param_value EMPTY>
<!ELEMENT denormalized_field_value EMPTY>
<!ELEMENT denormalized_field_rendering_location EMPTY>
<!ELEMENT execution EMPTY>
<!ELEMENT execution_execution_steps EMPTY>
<!ELEMENT execution_step EMPTY>
<!ELEMENT issue EMPTY>
<!ELEMENT issue_list EMPTY>
<!ELEMENT item_test_plan_execution EMPTY>
<!ELEMENT test_suite_test_plan_item EMPTY>
<!ELEMENT item_test_plan_list EMPTY>
<!ELEMENT iteration EMPTY>
<!ELEMENT iteration_test_plan_item EMPTY>
<!ELEMENT iteration_test_suite EMPTY>
<!ELEMENT library_plugin_binding EMPTY>
<!ELEMENT library_plugin_binding_property EMPTY>
<!ELEMENT parameter EMPTY>
<!ELEMENT project EMPTY>
<!ELEMENT project_filter EMPTY>
<!ELEMENT project_filter_entry EMPTY>
<!ELEMENT requirement EMPTY>
<!ELEMENT requirement_audit_event EMPTY>
<!ELEMENT requirement_creation EMPTY>
<!ELEMENT requirement_folder EMPTY>
<!ELEMENT requirement_large_property_change EMPTY>
<!ELEMENT requirement_library EMPTY>
<!ELEMENT requirement_library_content EMPTY>
<!ELEMENT requirement_library_node EMPTY>
<!ELEMENT requirement_property_change EMPTY>
<!ELEMENT requirement_version EMPTY>
<!ELEMENT requirement_version_coverage EMPTY>
<!ELEMENT resource EMPTY>
<!ELEMENT rln_relationship EMPTY>
<!ELEMENT rln_relationship_closure EMPTY>
<!ELEMENT simple_resource EMPTY>
<!ELEMENT tcln_relationship EMPTY>
<!ELEMENT tcln_relationship_closure EMPTY>
<!ELEMENT test_automation_project EMPTY>
<!ELEMENT test_automation_server EMPTY>
<!ELEMENT test_case EMPTY>	
<!ELEMENT test_case_folder EMPTY>
<!ELEMENT test_case_library EMPTY>
<!ELEMENT test_case_library_content EMPTY>
<!ELEMENT test_case_library_node EMPTY>
<!ELEMENT test_case_steps EMPTY>
<!ELEMENT test_step EMPTY>
<!ELEMENT test_suite EMPTY>
<!ELEMENT verifying_steps EMPTY>
