integration-tests/src/it/resources/dtd/squash-tm.1.4.0.dtd

<!--

        This file is part of the Squashtest platform.
        Copyright (C) 2010 - 2013 Henix, henix.fr

        See the NOTICE file distributed with this work for additional
        information regarding copyright ownership.

        This is free software: you can redistribute it and/or modify
        it under the terms of the GNU Lesser General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        this software is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Lesser General Public License for more details.

        You should have received a copy of the GNU Lesser General Public License
        along with this software.  If not, see <http://www.gnu.org/licenses/>.

-->
<!ELEMENT dataset (
    ACL_CLASS*,
    ACL_GROUP*,
    ACL_GROUP_PERMISSION*,
    ACL_OBJECT_IDENTITY*,
    ACL_RESPONSIBILITY_SCOPE_ENTRY*,
    ACTION_TEST_STEP*,
    ATTACHMENT*,
    ATTACHMENT_CONTENT*,
    ATTACHMENT_LIST*,    
    AUTH_USER*,
    AUTOMATED_EXECUTION_EXTENDER*,
    AUTOMATED_SUITE*,
    AUTOMATED_TEST*,
    BUGTRACKER*,
    BUGTRACKER_BINDING*,
    CALL_TEST_STEP*,
    CAMPAIGN*,
    CAMPAIGN_FOLDER*,
    CAMPAIGN_ITERATION*,
    CAMPAIGN_LIBRARY*,
    CAMPAIGN_LIBRARY_CONTENT*,
    CAMPAIGN_LIBRARY_NODE*,
    CAMPAIGN_TEST_PLAN_ITEM*,
    CLN_RELATIONSHIP*,
    CLN_RELATIONSHIP_CLOSURE*,
    CORE_CONFIG*,
    CORE_GROUP*,
    CORE_GROUP_AUTHORITY*,
    CORE_GROUP_MEMBER*,
    CORE_USER*,	
    CUSTOM_FIELD*,
    CUSTOM_FIELD_BINDING*,
    CUSTOM_FIELD_OPTION*,
    CUSTOM_FIELD_RENDERING_LOCATION*,
    CUSTOM_FIELD_VALUE*,
    DATABASECHANGELOG*,
    DATABASECHANGELOGLOCK*,
    EXECUTION*,
    EXECUTION_EXECUTION_STEPS*,
    EXECUTION_STEP*,
    ISSUE*,
    ISSUE_LIST*,    
    ITEM_TEST_PLAN_EXECUTION*,
    ITEM_TEST_PLAN_LIST*,   
    ITERATION*,
    ITERATION_TEST_PLAN_ITEM*,
    ITERATION_TEST_SUITE*,
    PROJECT*,
    PROJECT_FILTER*,
    PROJECT_FILTER_ENTRY*,
    REQUIREMENT*,
    REQUIREMENT_AUDIT_EVENT*,
    REQUIREMENT_CREATION*,
    REQUIREMENT_FOLDER*,
    REQUIREMENT_LARGE_PROPERTY_CHANGE*,
    REQUIREMENT_LIBRARY*,
    REQUIREMENT_LIBRARY_CONTENT*,
    REQUIREMENT_LIBRARY_NODE*,
    REQUIREMENT_PROPERTY_CHANGE*,
    REQUIREMENT_VERSION*,
    RESOURCE*,
    RLN_RELATIONSHIP*,
    RLN_RELATIONSHIP_CLOSURE*,
    SIMPLE_RESOURCE*,
    TCLN_RELATIONSHIP*,
    TCLN_RELATIONSHIP_CLOSURE*,
    TEST_AUTOMATION_PROJECT*,
    TEST_AUTOMATION_SERVER*,    
    TEST_CASE*,
    TEST_CASE_FOLDER*,
    TEST_CASE_LIBRARY*,
    TEST_CASE_LIBRARY_CONTENT*,
    TEST_CASE_LIBRARY_NODE*,
    TEST_CASE_STEPS*,
    TEST_CASE_VERIFIED_REQUIREMENT_VERSION*,
    TEST_STEP*,
    TEST_SUITE*,
    TM_TA_PROJECTS*
    )+>

<!ELEMENT ACL_CLASS EMPTY>
<!ATTLIST ACL_CLASS
    ID CDATA #IMPLIED
    CLASSNAME CDATA #REQUIRED
>

<!ELEMENT ACL_GROUP EMPTY>
<!ATTLIST ACL_GROUP
    ID CDATA #IMPLIED
    QUALIFIED_NAME CDATA #REQUIRED
>

<!ELEMENT ACL_GROUP_PERMISSION EMPTY>
<!ATTLIST ACL_GROUP_PERMISSION
    ACL_GROUP_ID CDATA #REQUIRED
    PERMISSION_MASK CDATA #REQUIRED
    CLASS_ID CDATA #REQUIRED
    PERMISSION_ORDER CDATA #IMPLIED
    GRANTING CDATA #IMPLIED
>

<!ELEMENT ACL_OBJECT_IDENTITY EMPTY>
<!ATTLIST ACL_OBJECT_IDENTITY
    ID CDATA #IMPLIED
    IDENTITY CDATA #REQUIRED
    CLASS_ID CDATA #REQUIRED
>

<!ELEMENT ACL_RESPONSIBILITY_SCOPE_ENTRY EMPTY>
<!ATTLIST ACL_RESPONSIBILITY_SCOPE_ENTRY
    ID CDATA #IMPLIED 
    USER_ID CDATA #REQUIRED
    ACL_GROUP_ID CDATA #REQUIRED
    OBJECT_IDENTITY_ID CDATA #REQUIRED
>

<!ELEMENT ACTION_TEST_STEP EMPTY>
<!ATTLIST ACTION_TEST_STEP
    TEST_STEP_ID CDATA #REQUIRED
    ACTION CDATA #REQUIRED
    EXPECTED_RESULT CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
>

<!ELEMENT ATTACHMENT EMPTY>
<!ATTLIST ATTACHMENT
    ATTACHMENT_ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    TYPE CDATA #REQUIRED
    SIZE CDATA #REQUIRED
    ADDED_ON CDATA #REQUIRED
    CONTENT_ID CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #REQUIRED
>

<!ELEMENT ATTACHMENT_CONTENT EMPTY>
<!ATTLIST ATTACHMENT_CONTENT
    ATTACHMENT_CONTENT_ID CDATA #IMPLIED
    STREAM_CONTENT CDATA #IMPLIED
>

<!ELEMENT ATTACHMENT_LIST EMPTY>
<!ATTLIST ATTACHMENT_LIST
    ATTACHMENT_LIST_ID CDATA #REQUIRED
>

<!ELEMENT AUTH_USER EMPTY>
<!ATTLIST AUTH_USER
    LOGIN CDATA #REQUIRED
    PASSWORD CDATA #REQUIRED
    ACTIVE CDATA #REQUIRED
>
<!ELEMENT AUTOMATED_EXECUTION_EXTENDER EMPTY>
<!ATTLIST AUTOMATED_EXECUTION_EXTENDER
    EXTENDER_ID CDATA #REQUIRED
    MASTER_EXECUTION_ID CDATA #REQUIRED
    TEST_ID CDATA #REQUIRED
    RESULT_ID CDATA #IMPLIED
    SUITE_ID CDATA #IMPLIED
    RESULT_SUMMARY CDATA #IMPLIED
>
<!ELEMENT AUTOMATED_SUITE EMPTY>
<!ATTLIST AUTOMATED_SUITE
    SUITE_ID CDATA #REQUIRED
>
<!ELEMENT AUTOMATED_TEST EMPTY>
<!ATTLIST AUTOMATED_TEST
    TEST_ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    PROJECT_ID CDATA #IMPLIED
>
<!ELEMENT BUGTRACKER EMPTY>
<!ATTLIST BUGTRACKER 
	BUGTRACKER_ID CDATA #IMPLIED
	NAME CDATA #REQUIRED
	KIND CDATA #REQUIRED
	URL CDATA #REQUIRED
	IFRAME_FRIENDLY CDATA #IMPLIED
>

<!ELEMENT BUGTRACKER_BINDING EMPTY>
<!ATTLIST BUGTRACKER_BINDING
	BUGTRACKER_BINDING_ID CDATA #REQUIRED
	BUGTRACKER_ID CDATA #REQUIRED
	PROJECT_NAME CDATA #IMPLIED
	PROJECT_ID CDATA #REQUIRED
>

<!ELEMENT CALL_TEST_STEP EMPTY>
<!ATTLIST CALL_TEST_STEP
    TEST_STEP_ID CDATA #REQUIRED
    CALLED_TEST_CASE_ID CDATA #REQUIRED
>

<!ELEMENT CAMPAIGN EMPTY>
<!ATTLIST CAMPAIGN
    CLN_ID CDATA #REQUIRED
    ACTUAL_END_AUTO CDATA #REQUIRED
    ACTUAL_END_DATE CDATA #IMPLIED
    ACTUAL_START_AUTO CDATA #REQUIRED
    ACTUAL_START_DATE CDATA #IMPLIED
    SCHEDULED_END_DATE CDATA #IMPLIED
    SCHEDULED_START_DATE CDATA #IMPLIED
>

<!ELEMENT CAMPAIGN_FOLDER EMPTY>
<!ATTLIST CAMPAIGN_FOLDER
    CLN_ID CDATA #REQUIRED
>

<!ELEMENT CAMPAIGN_ITERATION EMPTY>
<!ATTLIST CAMPAIGN_ITERATION
    CAMPAIGN_ID CDATA #REQUIRED
    ITERATION_ID CDATA #REQUIRED
    ITERATION_ORDER CDATA #REQUIRED
>

<!ELEMENT CAMPAIGN_LIBRARY EMPTY>
<!ATTLIST CAMPAIGN_LIBRARY
    CL_ID CDATA #REQUIRED
    ATTACHMENT_LIST_ID CDATA #REQUIRED
>

<!ELEMENT CAMPAIGN_LIBRARY_CONTENT EMPTY>
<!ATTLIST CAMPAIGN_LIBRARY_CONTENT
    LIBRARY_ID CDATA #REQUIRED
    CONTENT_ID CDATA #REQUIRED
>

<!ELEMENT CAMPAIGN_LIBRARY_NODE EMPTY>
<!ATTLIST CAMPAIGN_LIBRARY_NODE
    CLN_ID CDATA #REQUIRED
    DELETED_ON CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #REQUIRED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_ON CDATA #IMPLIED
    LAST_MODIFIED_BY CDATA #IMPLIED
    PROJECT_ID CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #REQUIRED
>

<!ELEMENT CAMPAIGN_TEST_PLAN_ITEM EMPTY>
<!ATTLIST CAMPAIGN_TEST_PLAN_ITEM
    CTPI_ID CDATA #IMPLIED
    CAMPAIGN_ID CDATA #IMPLIED
    TEST_CASE_ID CDATA #REQUIRED
    USER_ID CDATA #IMPLIED
    TEST_PLAN_ORDER CDATA #IMPLIED
>

<!ELEMENT CLN_RELATIONSHIP EMPTY>
<!ATTLIST CLN_RELATIONSHIP
    ANCESTOR_ID CDATA #REQUIRED
    DESCENDANT_ID CDATA #REQUIRED
>

<!ELEMENT CLN_RELATIONSHIP_CLOSURE EMPTY>
<!ATTLIST CLN_RELATIONSHIP_CLOSURE
    ANCESTOR_ID CDATA #REQUIRED
    DESCENDANT_ID CDATA #REQUIRED
    DEPTH CDATA #REQUIRED
>

<!ELEMENT CORE_CONFIG EMPTY>
<!ATTLIST CORE_CONFIG
    STR_KEY CDATA #REQUIRED
    VALUE CDATA #IMPLIED
>

<!ELEMENT CORE_GROUP EMPTY>
<!ATTLIST CORE_GROUP
    ID CDATA #REQUIRED
    QUALIFIED_NAME CDATA #REQUIRED
>

<!ELEMENT CORE_GROUP_AUTHORITY EMPTY>
<!ATTLIST CORE_GROUP_AUTHORITY
    GROUP_ID CDATA #REQUIRED
    AUTHORITY CDATA #REQUIRED
>

<!ELEMENT CORE_GROUP_MEMBER EMPTY>
<!ATTLIST CORE_GROUP_MEMBER
    USER_ID CDATA #REQUIRED
    GROUP_ID CDATA #REQUIRED
>

<!ELEMENT CORE_USER EMPTY>
<!ATTLIST CORE_USER
    ID CDATA #IMPLIED
    LOGIN CDATA #REQUIRED
    FIRST_NAME CDATA #IMPLIED
    LAST_NAME CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    ACTIVE CDATA #IMPLIED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_ON CDATA #IMPLIED
    LAST_MODIFIED_BY CDATA #IMPLIED
>


<!ELEMENT CUSTOM_FIELD EMPTY>
<!ATTLIST CUSTOM_FIELD
	CF_ID CDATA #REQUIRED
	FIELD_TYPE CDATA #REQUIRED
	NAME CDATA #REQUIRED
	OPTIONAL CDATA #IMPLIED
	FIELD_TYPE CDATA #REQUIRED
	DEFAULT_VALUE CDATA #IMPLIED
	INPUT_TYPE (PLAIN_TEXT|CHECKBOX|DROPDOWN_LIST) #REQUIRED>

<!ELEMENT CUSTOM_FIELD_BINDING EMPTY>
<!ATTLIST CUSTOM_FIELD_BINDING
	CFB_ID CDATA #REQUIRED
	CF_ID CDATA #REQUIRED
	BOUND_ENTITY (TEST_CASE|CAMPAIGN|ITERATION|TEST_SUITE|REQUIREMENT_VERSION) #REQUIRED
	POSITION CDATA #REQUIRED
	BOUND_PROJECT_ID CDATA #REQUIRED
>

<!ELEMENT CUSTOM_FIELD_OPTION EMPTY>
<!ATTLIST CUSTOM_FIELD_OPTION
	CF_ID CDATA #REQUIRED
	LABEL CDATA #REQUIRED
	POSITION CDATA #REQUIRED
>

<!ELEMENT CUSTOM_FIELD_RENDERING_LOCATION EMPTY>
<!ATTLIST CUSTOM_FIELD_RENDERING_LOCATION
	CFB_ID CDATA #REQUIRED
	RENDERING_LOCATION CDATA #IMPLIED
>

<!ELEMENT CUSTOM_FIELD_VALUE EMPTY>
<!ATTLIST CUSTOM_FIELD_VALUE
	CFV_ID CDATA #REQUIRED
	BOUND_ENTITY_ID CDATA #REQUIRED
	BOUND_ENTITY_TYPE CDATA #REQUIRED
	CFB_ID CDATA #REQUIRED
	VALUE CDATA #IMPLIED
>


<!ELEMENT DATABASECHANGELOG EMPTY>
<!ATTLIST DATABASECHANGELOG
    ID CDATA #REQUIRED
    AUTHOR CDATA #REQUIRED
    FILENAME CDATA #REQUIRED
    DATEEXECUTED CDATA #REQUIRED
    ORDEREXECUTED CDATA #REQUIRED
    EXECTYPE CDATA #REQUIRED
    MD5SUM CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    COMMENTS CDATA #IMPLIED
    TAG CDATA #IMPLIED
    LIQUIBASE CDATA #IMPLIED
>

<!ELEMENT DATABASECHANGELOGLOCK EMPTY>
<!ATTLIST DATABASECHANGELOGLOCK
    ID CDATA #REQUIRED
    LOCKED CDATA #REQUIRED
    LOCKGRANTED CDATA #IMPLIED
    LOCKEDBY CDATA #IMPLIED
>


<!ELEMENT EXECUTION EMPTY>
<!ATTLIST EXECUTION
    EXECUTION_ID CDATA #REQUIRED
    TCLN_ID CDATA #IMPLIED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #REQUIRED
    EXECUTION_MODE CDATA #IMPLIED
    EXECUTION_STATUS CDATA #IMPLIED
    LAST_EXECUTED_BY CDATA #IMPLIED
    LAST_EXECUTED_ON CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
    ISSUE_LIST_ID CDATA #IMPLIED
    PREREQUISITE CDATA #IMPLIED
>

<!ELEMENT EXECUTION_EXECUTION_STEPS EMPTY>
<!ATTLIST EXECUTION_EXECUTION_STEPS
    EXECUTION_ID CDATA #REQUIRED
    EXECUTION_STEP_ID CDATA #REQUIRED
    EXECUTION_STEP_ORDER CDATA #REQUIRED
>

<!ELEMENT EXECUTION_STEP EMPTY>
<!ATTLIST EXECUTION_STEP
    EXECUTION_STEP_ID CDATA #REQUIRED
    EXPECTED_RESULT CDATA #IMPLIED
    ACTION CDATA #REQUIRED
    EXECUTION_STATUS CDATA #IMPLIED
    LAST_EXECUTED_BY CDATA #IMPLIED
    LAST_EXECUTED_ON CDATA #IMPLIED
    COMMENT CDATA #IMPLIED
    TEST_STEP_ID CDATA #IMPLIED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
    ISSUE_LIST_ID CDATA #IMPLIED
>

<!ELEMENT ISSUE EMPTY>
<!ATTLIST ISSUE
    ISSUE_ID CDATA #REQUIRED
    REMOTE_ISSUE_ID CDATA #REQUIRED
    ISSUE_LIST_ID CDATA #REQUIRED
    BUGTRACKER_ID CDATA #REQUIRED
>

<!ELEMENT ISSUE_LIST EMPTY>
<!ATTLIST ISSUE_LIST
    ISSUE_LIST_ID CDATA #REQUIRED
>

<!ELEMENT ITEM_TEST_PLAN_EXECUTION EMPTY>
<!ATTLIST ITEM_TEST_PLAN_EXECUTION
    ITEM_TEST_PLAN_ID CDATA #REQUIRED
    EXECUTION_ID CDATA #REQUIRED
    EXECUTION_ORDER CDATA #REQUIRED
>

<!ELEMENT ITEM_TEST_PLAN_LIST EMPTY>
<!ATTLIST ITEM_TEST_PLAN_LIST
    ITERATION_ID CDATA #REQUIRED
    ITEM_TEST_PLAN_ID CDATA #REQUIRED
    ITEM_TEST_PLAN_ORDER CDATA #REQUIRED
>

<!ELEMENT ITERATION EMPTY>
<!ATTLIST ITERATION
    ITERATION_ID CDATA #REQUIRED
    DELETED_ON CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #REQUIRED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    ACTUAL_END_AUTO CDATA #REQUIRED
    ACTUAL_END_DATE CDATA #IMPLIED
    ACTUAL_START_AUTO CDATA #REQUIRED
    ACTUAL_START_DATE CDATA #IMPLIED
    SCHEDULED_END_DATE CDATA #IMPLIED
    SCHEDULED_START_DATE CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
>
<!ELEMENT ITERATION_TEST_PLAN_ITEM EMPTY>
<!ATTLIST ITERATION_TEST_PLAN_ITEM
    ITEM_TEST_PLAN_ID CDATA #REQUIRED
    EXECUTION_STATUS CDATA #IMPLIED
    LAST_EXECUTED_BY CDATA #IMPLIED
    LAST_EXECUTED_ON CDATA #IMPLIED
    TCLN_ID CDATA #IMPLIED
    LABEL CDATA #IMPLIED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    USER_ID CDATA #IMPLIED
    TEST_SUITE CDATA #IMPLIED
>

<!ELEMENT ITERATION_TEST_SUITE EMPTY>
<!ATTLIST ITERATION_TEST_SUITE
	ITERATION_ID CDATA #REQUIRED
    TEST_SUITE_ID CDATA #REQUIRED
>

<!ELEMENT PROJECT EMPTY>
<!ATTLIST PROJECT
    PROJECT_ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    LABEL CDATA #IMPLIED
    ACTIVE CDATA #IMPLIED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    CL_ID CDATA #IMPLIED
    TCL_ID CDATA #IMPLIED
    RL_ID CDATA #IMPLIED
    TEST_AUTOMATION_ENABLED CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #REQUIRED
    PROJECT_TYPE CDATA #IMPLIED
>

<!ELEMENT PROJECT_FILTER EMPTY>
<!ATTLIST PROJECT_FILTER
    PROJECT_FILTER_ID CDATA #REQUIRED
    ACTIVATED CDATA #REQUIRED
    USER_LOGIN CDATA #REQUIRED
>

<!ELEMENT PROJECT_FILTER_ENTRY EMPTY>
<!ATTLIST PROJECT_FILTER_ENTRY
    PROJECT_ID CDATA #REQUIRED
    FILTER_ID CDATA #REQUIRED
>

<!ELEMENT REQUIREMENT EMPTY>
<!ATTLIST REQUIREMENT
    RLN_ID CDATA #REQUIRED
    CURRENT_VERSION_ID CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT_AUDIT_EVENT EMPTY>
<!ATTLIST REQUIREMENT_AUDIT_EVENT
    EVENT_ID CDATA #REQUIRED
    REQ_VERSION_ID CDATA #REQUIRED
    EVENT_DATE CDATA #REQUIRED
    AUTHOR CDATA #REQUIRED
>

<!ELEMENT REQUIREMENT_CREATION EMPTY>
<!ATTLIST REQUIREMENT_CREATION
    EVENT_ID CDATA #REQUIRED
>

<!ELEMENT REQUIREMENT_FOLDER EMPTY>
<!ATTLIST REQUIREMENT_FOLDER
    RLN_ID CDATA #REQUIRED
    RES_ID CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT_LARGE_PROPERTY_CHANGE EMPTY>
<!ATTLIST REQUIREMENT_LARGE_PROPERTY_CHANGE
    EVENT_ID CDATA #REQUIRED
    OLD_VALUE CDATA #IMPLIED
    NEW_VALUE CDATA #IMPLIED
    PROPERTY_NAME CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT_LIBRARY EMPTY>
<!ATTLIST REQUIREMENT_LIBRARY
    RL_ID CDATA #REQUIRED
     ATTACHMENT_LIST_ID CDATA #REQUIRED
>

<!ELEMENT REQUIREMENT_LIBRARY_CONTENT EMPTY>
<!ATTLIST REQUIREMENT_LIBRARY_CONTENT
    LIBRARY_ID CDATA #REQUIRED
    CONTENT_ID CDATA #REQUIRED
>

<!ELEMENT REQUIREMENT_LIBRARY_NODE EMPTY>
<!ATTLIST REQUIREMENT_LIBRARY_NODE
    RLN_ID CDATA #REQUIRED
    DELETED_ON CDATA #IMPLIED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    PROJECT_ID CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT_PROPERTY_CHANGE EMPTY>
<!ATTLIST REQUIREMENT_PROPERTY_CHANGE
    EVENT_ID CDATA #REQUIRED
    OLD_VALUE CDATA #IMPLIED
    NEW_VALUE CDATA #IMPLIED
    PROPERTY_NAME CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT_VERSION EMPTY>
<!ATTLIST REQUIREMENT_VERSION
    RES_ID CDATA #REQUIRED
    REQUIREMENT_ID CDATA #IMPLIED
    REFERENCE  CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
    CRITICALITY (MINOR|MAJOR|CRITICAL|UNDEFINED) "UNDEFINED"
    REQUIREMENT_STATUS (WORK_IN_PROGRESS|UNDER_REVIEW|APPROVED|OBSOLETE) "WORK_IN_PROGRESS"
    CATEGORY (UNDEFINED|TEST_REQUIREMENT|BUSINESS|USE_CASE|NON_FUNCTIONAL|FUNCTIONAL) "UNDEFINED"
>




<!ELEMENT RESOURCE EMPTY>
<!ATTLIST RESOURCE
	RES_ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DESCRIPTON CDATA #IMPLIED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED    
    ATTACHMENT_LIST_ID CDATA #REQUIRED
>

<!ELEMENT RLN_RELATIONSHIP EMPTY>
<!ATTLIST RLN_RELATIONSHIP
    ANCESTOR_ID CDATA #REQUIRED
    DESCENDANT_ID CDATA #REQUIRED
>

<!ELEMENT RLN_RELATIONSHIP_CLOSURE EMPTY>
<!ATTLIST RLN_RELATIONSHIP_CLOSURE
    ANCESTOR_ID CDATA #REQUIRED
    DESCENDANT_ID CDATA #REQUIRED
    DEPTH CDATA #REQUIRED
>

<!ELEMENT SIMPLE_RESOURCE EMPTY>
<!ATTLIST SIMPLE_RESOURCE
	RES_ID CDATA #REQUIRED
>

<!ELEMENT TCLN_RELATIONSHIP EMPTY>
<!ATTLIST TCLN_RELATIONSHIP
    ANCESTOR_ID CDATA #REQUIRED
    DESCENDANT_ID CDATA #REQUIRED
>

<!ELEMENT TCLN_RELATIONSHIP_CLOSURE EMPTY>
<!ATTLIST TCLN_RELATIONSHIP_CLOSURE
    ANCESTOR_ID CDATA #REQUIRED
    DESCENDANT_ID CDATA #REQUIRED
    DEPTH CDATA #REQUIRED
>

<!ELEMENT TEST_AUTOMATION_PROJECT EMPTY>
<!ATTLIST TEST_AUTOMATION_PROJECT
    PROJECT_ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    SERVER_ID CDATA #REQUIRED
>

<!ELEMENT TEST_AUTOMATION_SERVER EMPTY>
<!ATTLIST TEST_AUTOMATION_SERVER
    SERVER_ID CDATA #REQUIRED
    BASE_URL CDATA #REQUIRED
    LOGIN CDATA #REQUIRED
    PASSWORD CDATA #REQUIRED
    KIND CDATA #REQUIRED
>


<!ELEMENT TEST_CASE EMPTY>
<!ATTLIST TEST_CASE
    TCLN_ID CDATA #REQUIRED
    VERSION CDATA #REQUIRED
    EXECUTION_MODE CDATA #IMPLIED
    IMPORTANCE (VERY_HIGH|HIGH|MEDIUM|LOW) "LOW"
    IMPORTANCE_AUTO CDATA #IMPLIED
    PREREQUISITE CDATA #REQUIRED
    REFERENCE CDATA #IMPLIED
    TA_TEST CDATA #IMPLIED
    TC_NATURE (NONE|FUNCTIONAL|BUSINESS|NON_FUNCTIONAL|PERFORMANCE|SECURITY|ATDD) "NONE"
    TC_TYPE (NONE|ACCEPTANCE|FIX|FEATURE|NON_REGRESSION|END_TO_END|PARTNER) "NONE"
    TC_STATUS (WORK_IN_PROGRESS|UNDER_REVIEW|APPROVED|OBSOLETE|TO_BE_UPDATED) "WORK_IN_PROGRESS"
>

	
	
<!ELEMENT TEST_CASE_FOLDER EMPTY>
<!ATTLIST TEST_CASE_FOLDER
    TCLN_ID CDATA #REQUIRED
>

<!ELEMENT TEST_CASE_LIBRARY EMPTY>
<!ATTLIST TEST_CASE_LIBRARY
    TCL_ID CDATA #REQUIRED
    ATTACHMENT_LIST_ID CDATA #REQUIRED
>

<!ELEMENT TEST_CASE_LIBRARY_CONTENT EMPTY>
<!ATTLIST TEST_CASE_LIBRARY_CONTENT
    LIBRARY_ID CDATA #REQUIRED
    CONTENT_ID CDATA #REQUIRED
>

<!ELEMENT TEST_CASE_LIBRARY_NODE EMPTY>
<!ATTLIST TEST_CASE_LIBRARY_NODE
    TCLN_ID CDATA #REQUIRED
    DELETED_ON CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #REQUIRED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    PROJECT_ID CDATA #IMPLIED    
    ATTACHMENT_LIST_ID CDATA #REQUIRED
>
<!ELEMENT TEST_CASE_STEPS EMPTY>
<!ATTLIST TEST_CASE_STEPS
    TEST_CASE_ID CDATA #REQUIRED
    STEP_ID CDATA #REQUIRED
    STEP_ORDER CDATA #REQUIRED
>

<!ELEMENT TEST_CASE_VERIFIED_REQUIREMENT_VERSION EMPTY>
<!ATTLIST TEST_CASE_VERIFIED_REQUIREMENT_VERSION
    VERIFIED_REQ_VERSION_ID CDATA #REQUIRED
    VERIFYING_TEST_CASE_ID CDATA #REQUIRED
>

<!ELEMENT TEST_STEP EMPTY>
<!ATTLIST TEST_STEP
    TEST_STEP_ID CDATA #REQUIRED
>

<!ELEMENT TEST_SUITE EMPTY>
<!ATTLIST TEST_SUITE
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #REQUIRED
    CREATED_BY CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
>

<!ELEMENT TM_TA_PROJECTS EMPTY>
<!ATTLIST TM_TA_PROJECTS
    TM_PROJECT_ID CDATA #REQUIRED
    TA_PROJECT_ID CDATA #REQUIRED
>
