integration-tests/src/it/resources/dtd/squash-tm.1.8.0.result.dtd

<!--

        This file is part of the Squashtest platform.
        Copyright (C) 2010 - 2012 Henix, henix.fr

        See the NOTICE file distributed with this work for additional
        information regarding copyright ownership.

        This is free software: you can redistribute it and/or modify
        it under the terms of the GNU Lesser General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        this software is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Lesser General Public License for more details.

        You should have received a copy of the GNU Lesser General Public License
        along with this software.  If not, see <http://www.gnu.org/licenses/>.

-->
<!ELEMENT dataset (
    ACL_CLASS*,
    ACL_GROUP*,
    ACL_GROUP_PERMISSION*,
    ACL_OBJECT_IDENTITY*,
    ACL_RESPONSIBILITY_SCOPE_ENTRY*,
    ACTION_TEST_STEP*,
    ATTACHMENT*,
    ATTACHMENT_CONTENT*,
    ATTACHMENT_LIST*,    
    AUTH_USER*,
    AUTOMATED_EXECUTION_EXTENDER*,
    AUTOMATED_SUITE*,
    AUTOMATED_TEST*,
    BUGTRACKER*,
    BUGTRACKER_BINDING*,
    CALL_TEST_STEP*,
    CAMPAIGN*,
    CAMPAIGN_FOLDER*,
    CAMPAIGN_ITERATION*,
    CAMPAIGN_LIBRARY*,
    CAMPAIGN_LIBRARY_CONTENT*,
    CAMPAIGN_LIBRARY_NODE*,
    CAMPAIGN_TEST_PLAN_ITEM*,
    CLN_RELATIONSHIP*,
    CLN_RELATIONSHIP_CLOSURE*,
    CORE_CONFIG*,
    CORE_GROUP*,
    CORE_GROUP_AUTHORITY*,
    CORE_GROUP_MEMBER*,
    CORE_PARTY*,
    CORE_TEAM*,
    CORE_TEAM_MEMBER*,
    CORE_USER*,	
    CUSTOM_FIELD*,
    CUSTOM_FIELD_BINDING*,
    CUSTOM_FIELD_OPTION*,
    CUSTOM_FIELD_RENDERING_LOCATION*,
    CUSTOM_FIELD_VALUE*,   
    DATABASECHANGELOG*,
    DATABASECHANGELOGLOCK*,
    DATASET*,
    DATASET_PARAM_VALUE*,
    DENORMALIZED_FIELD_VALUE*,
    DENORMALIZED_FIELD_RENDERING_LOCATION*,
    ITEM_TEST_PLAN_EXECUTION*,
    EXECUTION_EXECUTION_STEPS*,
    EXECUTION_STEP*,
    ISSUE*,
    ISSUE_LIST*,    
    ITEM_TEST_PLAN_EXECUTION*,
    TEST_SUITE_TEST_PLAN_ITEM*,
    ITEM_TEST_PLAN_LIST*,   
    ITERATION*,
    ITERATION_TEST_PLAN_ITEM*,
    ITERATION_TEST_SUITE*,
    PARAMETER*,
    PROJECT*,
    PROJECT_FILTER*,
    PROJECT_FILTER_ENTRY*,
    REQUIREMENT*,
    REQUIREMENT_AUDIT_EVENT*,
    REQUIREMENT_CREATION*,
    REQUIREMENT_FOLDER*,
    REQUIREMENT_LARGE_PROPERTY_CHANGE*,
    REQUIREMENT_LIBRARY*,
    REQUIREMENT_LIBRARY_CONTENT*,
    REQUIREMENT_LIBRARY_NODE*,
    REQUIREMENT_PROPERTY_CHANGE*,
    REQUIREMENT_VERSION*,
    REQUIREMENT_VERSION_COVERAGE*,
    RESOURCE*,
    RLN_RELATIONSHIP*,
    RLN_RELATIONSHIP_CLOSURE*,
    SIMPLE_RESOURCE*,
    TCLN_RELATIONSHIP*,
    TCLN_RELATIONSHIP_CLOSURE*,
    TEST_AUTOMATION_PROJECT*,
    TEST_AUTOMATION_SERVER*,    
    TEST_CASE*,
    TEST_CASE_FOLDER*,
    TEST_CASE_LIBRARY*,
    TEST_CASE_LIBRARY_CONTENT*,
    TEST_CASE_LIBRARY_NODE*,
    TEST_CASE_STEPS*,
    TEST_STEP*,
    TEST_SUITE*,
    TM_TA_PROJECTS*,
    VERIFYING_STEPS*,   
    acl_class?,
    acl_group?,
    acl_group_permission?,
    acl_object_identity?,
    acl_responsibility_scope_entry?,
    action_test_step?,
    attachment?,
    attachment_content?,
    attachment_list?,    
    auth_user?,
    automated_execution_extender?,
    automated_suite?,
    automated_test?,
    bugtracker?,
    bugtracker_binding?,
    call_test_step?,
    campaign?,
    campaign_folder?,
    campaign_iteration?,
    campaign_library?,
    campaign_library_content?,
    campaign_library_node?,
    campaign_test_plan_item?,
    cln_relationship?,
    cln_relationship_closure?,
    core_config?,
    core_group?,
    core_group_authority?,
    core_group_member?,
    core_party?,
    core_team?,
    core_team_member?,
    core_user?,	
    custom_field?,
    custom_field_binding?,
    custom_field_option?,
    custom_field_rendering_location?,
    custom_field_value?,
    databasechangelog?,
    databasechangeloglock?,
    Dataset?,
    dataset_param_value?,
    denormalized_field_value?,
    denormalized_field_rendering_location?,
    execution?,
    execution_execution_steps?,
    execution_step?,
    issue?,
    issue_list?,    
    item_test_plan_execution?,
    test_suite_test_plan_item?,
    item_test_plan_list?,   
    iteration?,
    iteration_test_plan_item?,
    iteration_test_suite?,
    parameter?,
    project?,
    project_filter?,
    project_filter_entry?,
    requirement?,
    requirement_audit_event?,
    requirement_creation?,
    requirement_folder?,
    requirement_large_property_change?,
    requirement_library?,
    requirement_library_content?,
    requirement_library_node?,
    requirement_property_change?,
    requirement_version?,
    requirement_version_coverage?,
    resource?,
    rln_relationship?,
    rln_relationship_closure?,
    simple_resource?,
    tcln_relationship?,
    tcln_relationship_closure?,
    test_automation_project?,
    test_automation_server?,    
    test_case?,
    test_case_folder?,
    test_case_library?,
    test_case_library_content?,
    test_case_library_node?,
    test_case_steps?,
    test_step?,
    test_suite?,
    tm_ta_projects?,
    verifying_steps?
    )+>

<!ELEMENT ACL_CLASS EMPTY>
<!ATTLIST ACL_CLASS
    ID CDATA #IMPLIED
    CLASSNAME CDATA #IMPLIED
>

<!ELEMENT ACL_GROUP EMPTY>
<!ATTLIST ACL_GROUP
    ID CDATA #IMPLIED
    QUALIFIED_NAME CDATA #IMPLIED
>

<!ELEMENT ACL_GROUP_PERMISSION EMPTY>
<!ATTLIST ACL_GROUP_PERMISSION
    ACL_GROUP_ID CDATA #IMPLIED
    PERMISSION_MASK CDATA #IMPLIED
    CLASS_ID CDATA #IMPLIED
    PERMISSION_ORDER CDATA #IMPLIED
    GRANTING CDATA #IMPLIED
>

<!ELEMENT ACL_OBJECT_IDENTITY EMPTY>
<!ATTLIST ACL_OBJECT_IDENTITY
    ID CDATA #IMPLIED
    IDENTITY CDATA #IMPLIED
    CLASS_ID CDATA #IMPLIED
>

<!ELEMENT ACL_RESPONSIBILITY_SCOPE_ENTRY EMPTY>
<!ATTLIST ACL_RESPONSIBILITY_SCOPE_ENTRY
    ID CDATA #IMPLIED 
    PARTY_ID CDATA #IMPLIED
    ACL_GROUP_ID CDATA #IMPLIED
    OBJECT_IDENTITY_ID CDATA #IMPLIED
>

<!ELEMENT ACTION_TEST_STEP EMPTY>
<!ATTLIST ACTION_TEST_STEP
    TEST_STEP_ID CDATA #IMPLIED
    ACTION CDATA #IMPLIED
    EXPECTED_RESULT CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
>

<!ELEMENT ATTACHMENT EMPTY>
<!ATTLIST ATTACHMENT
    ATTACHMENT_ID CDATA #IMPLIED
    NAME CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    SIZE CDATA #IMPLIED
    ADDED_ON CDATA #IMPLIED
    CONTENT_ID CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
>

<!ELEMENT ATTACHMENT_CONTENT EMPTY>
<!ATTLIST ATTACHMENT_CONTENT
    ATTACHMENT_CONTENT_ID CDATA #IMPLIED
    STREAM_CONTENT CDATA #IMPLIED
>

<!ELEMENT ATTACHMENT_LIST EMPTY>
<!ATTLIST ATTACHMENT_LIST
    ATTACHMENT_LIST_ID CDATA #IMPLIED
>

<!ELEMENT AUTH_USER EMPTY>
<!ATTLIST AUTH_USER
    LOGIN CDATA #IMPLIED
    PASSWORD CDATA #IMPLIED
    ACTIVE CDATA #IMPLIED
>
<!ELEMENT AUTOMATED_EXECUTION_EXTENDER EMPTY>
<!ATTLIST AUTOMATED_EXECUTION_EXTENDER
    EXTENDER_ID CDATA #IMPLIED
    MASTER_EXECUTION_ID CDATA #IMPLIED
    TEST_ID CDATA #IMPLIED
    RESULT_ID CDATA #IMPLIED
    SUITE_ID CDATA #IMPLIED
    RESULT_SUMMARY CDATA #IMPLIED
>
<!ELEMENT AUTOMATED_SUITE EMPTY>
<!ATTLIST AUTOMATED_SUITE
    SUITE_ID CDATA #IMPLIED
>
<!ELEMENT AUTOMATED_TEST EMPTY>
<!ATTLIST AUTOMATED_TEST
    TEST_ID CDATA #IMPLIED
    NAME CDATA #IMPLIED
    PROJECT_ID CDATA #IMPLIED
>
<!ELEMENT BUGTRACKER EMPTY>
<!ATTLIST BUGTRACKER 
	BUGTRACKER_ID CDATA #IMPLIED
	NAME CDATA #IMPLIED
	KIND CDATA #IMPLIED
	URL CDATA #IMPLIED
	IFRAME_FRIENDLY CDATA #IMPLIED
>

<!ELEMENT BUGTRACKER_BINDING EMPTY>
<!ATTLIST BUGTRACKER_BINDING
	BUGTRACKER_BINDING_ID CDATA #IMPLIED
	BUGTRACKER_ID CDATA #IMPLIED
	PROJECT_NAME CDATA #IMPLIED
	PROJECT_ID CDATA #IMPLIED
>

<!ELEMENT CALL_TEST_STEP EMPTY>
<!ATTLIST CALL_TEST_STEP
    TEST_STEP_ID CDATA #IMPLIED
    CALLED_TEST_CASE_ID CDATA #IMPLIED
>

<!ELEMENT CAMPAIGN EMPTY>
<!ATTLIST CAMPAIGN
    CLN_ID CDATA #IMPLIED
    ACTUAL_END_AUTO CDATA #IMPLIED
    ACTUAL_END_DATE CDATA #IMPLIED
    ACTUAL_START_AUTO CDATA #IMPLIED
    ACTUAL_START_DATE CDATA #IMPLIED
    SCHEDULED_END_DATE CDATA #IMPLIED
    SCHEDULED_START_DATE CDATA #IMPLIED
>

<!ELEMENT CAMPAIGN_FOLDER EMPTY>
<!ATTLIST CAMPAIGN_FOLDER
    CLN_ID CDATA #IMPLIED
>

<!ELEMENT CAMPAIGN_ITERATION EMPTY>
<!ATTLIST CAMPAIGN_ITERATION
    CAMPAIGN_ID CDATA #IMPLIED
    ITERATION_ID CDATA #IMPLIED
    ITERATION_ORDER CDATA #IMPLIED
>

<!ELEMENT CAMPAIGN_LIBRARY EMPTY>
<!ATTLIST CAMPAIGN_LIBRARY
    CL_ID CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
>

<!ELEMENT CAMPAIGN_LIBRARY_CONTENT EMPTY>
<!ATTLIST CAMPAIGN_LIBRARY_CONTENT
    LIBRARY_ID CDATA #IMPLIED
    CONTENT_ID CDATA #IMPLIED
>

<!ELEMENT CAMPAIGN_LIBRARY_NODE EMPTY>
<!ATTLIST CAMPAIGN_LIBRARY_NODE
    CLN_ID CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
    CREATED_BY CDATA #IMPLIED
    CREATED_ON CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    LAST_MODIFIED_BY CDATA #IMPLIED
    PROJECT_ID CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
>

<!ELEMENT CAMPAIGN_TEST_PLAN_ITEM EMPTY>
<!ATTLIST CAMPAIGN_TEST_PLAN_ITEM
    CTPI_ID CDATA #IMPLIED
    CAMPAIGN_ID CDATA #IMPLIED
    TEST_CASE_ID CDATA #IMPLIED
    USER_ID CDATA #IMPLIED
    TEST_PLAN_ORDER CDATA #IMPLIED
>

<!ELEMENT CLN_RELATIONSHIP EMPTY>
<!ATTLIST CLN_RELATIONSHIP
    ANCESTOR_ID CDATA #IMPLIED
    DESCENDANT_ID CDATA #IMPLIED
>

<!ELEMENT CLN_RELATIONSHIP_CLOSURE EMPTY>
<!ATTLIST CLN_RELATIONSHIP_CLOSURE
    ANCESTOR_ID CDATA #IMPLIED
    DESCENDANT_ID CDATA #IMPLIED
    DEPTH CDATA #IMPLIED
>

<!ELEMENT CORE_CONFIG EMPTY>
<!ATTLIST CORE_CONFIG
    STR_KEY CDATA #IMPLIED
    VALUE CDATA #IMPLIED
>

<!ELEMENT CORE_GROUP EMPTY>
<!ATTLIST CORE_GROUP
    ID CDATA #IMPLIED
    QUALIFIED_NAME CDATA #IMPLIED
>

<!ELEMENT CORE_GROUP_AUTHORITY EMPTY>
<!ATTLIST CORE_GROUP_AUTHORITY
    GROUP_ID CDATA #IMPLIED
    AUTHORITY CDATA #IMPLIED
>

<!ELEMENT CORE_GROUP_MEMBER EMPTY>
<!ATTLIST CORE_GROUP_MEMBER
    PARTY_ID CDATA #IMPLIED
    GROUP_ID CDATA #IMPLIED
>

<!ELEMENT CORE_PARTY EMPTY>
<!ATTLIST CORE_PARTY
	PARTY_ID CDATA #IMPLIED
>

<!ELEMENT CORE_TEAM EMPTY>
<!ATTLIST CORE_TEAM
	PARTY_ID CDATA #IMPLIED
	NAME CDATA #IMPLIED
	DESCRIPTION CDATA #IMPLIED
	CREATED_BY CDATA #IMPLIED
	CREATED_ON CDATA #IMPLIED
>
 
<!ELEMENT CORE_TEAM_MEMBER EMPTY>
<!ATTLIST CORE_TEAM_MEMBER
	TEAM_ID CDATA #IMPLIED
	USER_ID CDATA #IMPLIED
>
    
<!ELEMENT CORE_USER EMPTY>
<!ATTLIST CORE_USER
    PARTY_ID CDATA #IMPLIED
    LOGIN CDATA #IMPLIED
    FIRST_NAME CDATA #IMPLIED
    LAST_NAME CDATA #IMPLIED
    EMAIL CDATA #IMPLIED
    ACTIVE CDATA #IMPLIED
    CREATED_BY CDATA #IMPLIED
    CREATED_ON CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    LAST_MODIFIED_BY CDATA #IMPLIED
>


<!ELEMENT CUSTOM_FIELD EMPTY>
<!ATTLIST CUSTOM_FIELD
	CF_ID CDATA #IMPLIED
	FIELD_TYPE (SSF|CF) #IMPLIED
	NAME CDATA #IMPLIED
	OPTIONAL CDATA #IMPLIED
	CODE CDATA  #IMPLIED
	LABEL CDATA #IMPLIED
	DEFAULT_VALUE CDATA #IMPLIED
	INPUT_TYPE (PLAIN_TEXT|CHECKBOX|DROPDOWN_LIST|DATE_PICKER) #IMPLIED>

<!ELEMENT CUSTOM_FIELD_BINDING EMPTY>
<!ATTLIST CUSTOM_FIELD_BINDING
	CFB_ID CDATA #IMPLIED
	CF_ID CDATA #IMPLIED
	BOUND_ENTITY (TEST_CASE|TEST_STEP|CAMPAIGN|ITERATION|TEST_SUITE|REQUIREMENT_VERSION) #IMPLIED
	POSITION CDATA #IMPLIED
	BOUND_PROJECT_ID CDATA #IMPLIED
>

<!ELEMENT CUSTOM_FIELD_OPTION EMPTY>
<!ATTLIST CUSTOM_FIELD_OPTION
	CF_ID CDATA #IMPLIED
	CODE CDATA #IMPLIED
	LABEL CDATA #IMPLIED
	POSITION CDATA #IMPLIED
>

<!ELEMENT CUSTOM_FIELD_RENDERING_LOCATION EMPTY>
<!ATTLIST CUSTOM_FIELD_RENDERING_LOCATION
	CFB_ID CDATA #IMPLIED
	RENDERING_LOCATION CDATA #IMPLIED
>

<!ELEMENT CUSTOM_FIELD_VALUE EMPTY>
<!ATTLIST CUSTOM_FIELD_VALUE
	CFV_ID CDATA #IMPLIED
	BOUND_ENTITY_ID CDATA #IMPLIED
	BOUND_ENTITY_TYPE (TEST_STEP|TEST_CASE|CAMPAIGN|ITERATION|REQUIREMENT_VERSION|TEST_SUITE) #IMPLIED
	CFB_ID CDATA #IMPLIED
	VALUE CDATA #IMPLIED
>

<!ELEMENT DATASET EMPTY>
<!ATTLIST DATASET
    DATASET_ID CDATA #IMPLIED
	TEST_CASE_ID CDATA #IMPLIED
	NAME CDATA #IMPLIED
>

<!ELEMENT DATASET_PARAM_VALUE EMPTY>
<!ATTLIST DATASET_PARAM_VALUE
    DATASET_PARAM_VALUE_ID CDATA #IMPLIED
    DATASET_ID CDATA #IMPLIED
    PARAM_ID CDATA #IMPLIED
    PARAM_VALUE CDATA #IMPLIED
>

<!ELEMENT DATABASECHANGELOG EMPTY>
<!ATTLIST DATABASECHANGELOG
    ID CDATA #IMPLIED
    AUTHOR CDATA #IMPLIED
    FILENAME CDATA #IMPLIED
    DATEEXECUTED CDATA #IMPLIED
    ORDEREXECUTED CDATA #IMPLIED
    EXECTYPE CDATA #IMPLIED
    MD5SUM CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    COMMENTS CDATA #IMPLIED
    TAG CDATA #IMPLIED
    LIQUIBASE CDATA #IMPLIED
>

<!ELEMENT DATABASECHANGELOGLOCK EMPTY>
<!ATTLIST DATABASECHANGELOGLOCK
    ID CDATA #IMPLIED
    LOCKED CDATA #IMPLIED
    LOCKGRANTED CDATA #IMPLIED
    LOCKEDBY CDATA #IMPLIED
>

<!ELEMENT DENORMALIZED_FIELD_VALUE EMPTY>
<!ATTLIST DENORMALIZED_FIELD_VALUE
    DFV_ID CDATA #IMPLIED
    CFV_ID CDATA #IMPLIED
    CODE  CDATA #IMPLIED
    DENORMALIZED_FIELD_HOLDER_ID  CDATA #IMPLIED
    DENORMALIZED_FIELD_HOLDER_TYPE (EXECUTION|EXECUTION_STEP) #IMPLIED
    INPUT_TYPE (PLAIN_TEXT|CHECKBOX|DROPDOWN_LIST|DATE_PICKER)  #IMPLIED
    LABEL CDATA #IMPLIED
    POSITION CDATA #IMPLIED
    VALUE CDATA #IMPLIED
>
<!ELEMENT DENORMALIZED_FIELD_RENDERING_LOCATION EMPTY>
<!ATTLIST DENORMALIZED_FIELD_RENDERING_LOCATION
	DFV_ID CDATA #IMPLIED
	RENDERING_LOCATION CDATA #IMPLIED
>

<!ELEMENT EXECUTION EMPTY>
<!ATTLIST EXECUTION
    EXECUTION_ID CDATA #IMPLIED
    TCLN_ID CDATA #IMPLIED
    CREATED_BY CDATA #IMPLIED
    CREATED_ON CDATA #IMPLIED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
    EXECUTION_MODE CDATA #IMPLIED
    EXECUTION_STATUS CDATA #IMPLIED
    LAST_EXECUTED_BY CDATA #IMPLIED
    LAST_EXECUTED_ON CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
    ISSUE_LIST_ID CDATA #IMPLIED
    PREREQUISITE CDATA #IMPLIED
    TC_NATURE (UNDEFINED|FUNCTIONAL_TESTING|BUSINESS_TESTING|NON_FUNCTIONAL_TESTING|PERFORMANCE_TESTING|SECURITY_TESTING|ATDD|USER_TESTING) "UNDEFINED"
    TC_TYPE (UNDEFINED|COMPLIANCE_TESTING|CORRECTION_TESTING|END_TO_END_TESTING|EVOLUTION_TESTING|PARTNER_TESTING|REGRESSION_TESTING) "UNDEFINED"
    TC_STATUS (WORK_IN_PROGRESS|UNDER_REVIEW|APPROVED|OBSOLETE|TO_BE_UPDATED) "WORK_IN_PROGRESS"
    IMPORTANCE (VERY_HIGH|HIGH|MEDIUM|LOW) "LOW"
    REFERENCE CDATA #IMPLIED
    TC_DESCRIPTION CDATA #IMPLIED
>

<!ELEMENT EXECUTION_EXECUTION_STEPS EMPTY>
<!ATTLIST EXECUTION_EXECUTION_STEPS
    EXECUTION_ID CDATA #IMPLIED
    EXECUTION_STEP_ID CDATA #IMPLIED
    EXECUTION_STEP_ORDER CDATA #IMPLIED
>

<!ELEMENT EXECUTION_STEP EMPTY>
<!ATTLIST EXECUTION_STEP
    EXECUTION_STEP_ID CDATA #IMPLIED
    EXPECTED_RESULT CDATA #IMPLIED
    ACTION CDATA #IMPLIED
    EXECUTION_STATUS CDATA #IMPLIED
    LAST_EXECUTED_BY CDATA #IMPLIED
    LAST_EXECUTED_ON CDATA #IMPLIED
    COMMENT CDATA #IMPLIED
    TEST_STEP_ID CDATA #IMPLIED
    CREATED_BY CDATA #IMPLIED
    CREATED_ON CDATA #IMPLIED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
    ISSUE_LIST_ID CDATA #IMPLIED
>

<!ELEMENT ISSUE EMPTY>
<!ATTLIST ISSUE
    ISSUE_ID CDATA #IMPLIED
    REMOTE_ISSUE_ID CDATA #IMPLIED
    ISSUE_LIST_ID CDATA #IMPLIED
    BUGTRACKER_ID CDATA #IMPLIED
>

<!ELEMENT ISSUE_LIST EMPTY>
<!ATTLIST ISSUE_LIST
    ISSUE_LIST_ID CDATA #IMPLIED
>

<!ELEMENT ITEM_TEST_PLAN_EXECUTION EMPTY>
<!ATTLIST ITEM_TEST_PLAN_EXECUTION
    ITEM_TEST_PLAN_ID CDATA #IMPLIED
    EXECUTION_ID CDATA #IMPLIED
    EXECUTION_ORDER CDATA #IMPLIED
>

<!ELEMENT TEST_SUITE_TEST_PLAN_ITEM EMPTY>
<!ATTLIST TEST_SUITE_TEST_PLAN_ITEM
    TPI_ID CDATA #IMPLIED
    SUITE_ID CDATA #IMPLIED
    TEST_PLAN_ORDER CDATA #IMPLIED
>

<!ELEMENT ITEM_TEST_PLAN_LIST EMPTY>
<!ATTLIST ITEM_TEST_PLAN_LIST
    ITERATION_ID CDATA #IMPLIED
    ITEM_TEST_PLAN_ID CDATA #IMPLIED
    ITEM_TEST_PLAN_ORDER CDATA #IMPLIED
>

<!ELEMENT ITERATION EMPTY>
<!ATTLIST ITERATION
    ITERATION_ID CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
    CREATED_BY CDATA #IMPLIED
    CREATED_ON CDATA #IMPLIED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    ACTUAL_END_AUTO CDATA #IMPLIED
    ACTUAL_END_DATE CDATA #IMPLIED
    ACTUAL_START_AUTO CDATA #IMPLIED
    ACTUAL_START_DATE CDATA #IMPLIED
    SCHEDULED_END_DATE CDATA #IMPLIED
    SCHEDULED_START_DATE CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
>
<!ELEMENT ITERATION_TEST_PLAN_ITEM EMPTY>
<!ATTLIST ITERATION_TEST_PLAN_ITEM
    ITEM_TEST_PLAN_ID CDATA #IMPLIED
    EXECUTION_STATUS CDATA #IMPLIED
    LAST_EXECUTED_BY CDATA #IMPLIED
    LAST_EXECUTED_ON CDATA #IMPLIED
    TCLN_ID CDATA #IMPLIED
    LABEL CDATA #IMPLIED
    CREATED_BY CDATA #IMPLIED
    CREATED_ON CDATA #IMPLIED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    USER_ID CDATA #IMPLIED
    DATASET_ID CDATA #IMPLIED
>

<!ELEMENT ITERATION_TEST_SUITE EMPTY>
<!ATTLIST ITERATION_TEST_SUITE
	ITERATION_ID CDATA #IMPLIED
    TEST_SUITE_ID CDATA #IMPLIED
>

<!ELEMENT PROJECT EMPTY>
<!ATTLIST PROJECT
    PROJECT_ID CDATA #IMPLIED
    NAME CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    LABEL CDATA #IMPLIED
    ACTIVE CDATA #IMPLIED
    CREATED_BY CDATA #IMPLIED
    CREATED_ON CDATA #IMPLIED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    CL_ID CDATA #IMPLIED
    TCL_ID CDATA #IMPLIED
    RL_ID CDATA #IMPLIED
    TEST_AUTOMATION_ENABLED CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
    PROJECT_TYPE CDATA #IMPLIED
>

<!ELEMENT PARAMETER EMPTY>
<!ATTLIST PARAMETER
    PARAM_ID CDATA #IMPLIED
    NAME CDATA #IMPLIED
    TEST_CASE_ID CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
>

<!ELEMENT PROJECT_FILTER EMPTY>
<!ATTLIST PROJECT_FILTER
    PROJECT_FILTER_ID CDATA #IMPLIED
    ACTIVATED CDATA #IMPLIED
    USER_LOGIN CDATA #IMPLIED
>

<!ELEMENT PROJECT_FILTER_ENTRY EMPTY>
<!ATTLIST PROJECT_FILTER_ENTRY
    PROJECT_ID CDATA #IMPLIED
    FILTER_ID CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT EMPTY>
<!ATTLIST REQUIREMENT
    RLN_ID CDATA #IMPLIED
    CURRENT_VERSION_ID CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT_AUDIT_EVENT EMPTY>
<!ATTLIST REQUIREMENT_AUDIT_EVENT
    EVENT_ID CDATA #IMPLIED
    REQ_VERSION_ID CDATA #IMPLIED
    EVENT_DATE CDATA #IMPLIED
    AUTHOR CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT_CREATION EMPTY>
<!ATTLIST REQUIREMENT_CREATION
    EVENT_ID CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT_FOLDER EMPTY>
<!ATTLIST REQUIREMENT_FOLDER
    RLN_ID CDATA #IMPLIED
    RES_ID CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT_LARGE_PROPERTY_CHANGE EMPTY>
<!ATTLIST REQUIREMENT_LARGE_PROPERTY_CHANGE
    EVENT_ID CDATA #IMPLIED
    OLD_VALUE CDATA #IMPLIED
    NEW_VALUE CDATA #IMPLIED
    PROPERTY_NAME CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT_LIBRARY EMPTY>
<!ATTLIST REQUIREMENT_LIBRARY
    RL_ID CDATA #IMPLIED
     ATTACHMENT_LIST_ID CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT_LIBRARY_CONTENT EMPTY>
<!ATTLIST REQUIREMENT_LIBRARY_CONTENT
    LIBRARY_ID CDATA #IMPLIED
    CONTENT_ID CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT_LIBRARY_NODE EMPTY>
<!ATTLIST REQUIREMENT_LIBRARY_NODE
    RLN_ID CDATA #IMPLIED
    CREATED_BY CDATA #IMPLIED
    CREATED_ON CDATA #IMPLIED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    PROJECT_ID CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT_PROPERTY_CHANGE EMPTY>
<!ATTLIST REQUIREMENT_PROPERTY_CHANGE
    EVENT_ID CDATA #IMPLIED
    OLD_VALUE CDATA #IMPLIED
    NEW_VALUE CDATA #IMPLIED
    PROPERTY_NAME CDATA #IMPLIED
>

<!ELEMENT REQUIREMENT_VERSION EMPTY>
<!ATTLIST REQUIREMENT_VERSION
    RES_ID CDATA #IMPLIED
    REQUIREMENT_ID CDATA #IMPLIED
    REFERENCE  CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
    CRITICALITY (MINOR|MAJOR|CRITICAL|UNDEFINED) "UNDEFINED"
    REQUIREMENT_STATUS (WORK_IN_PROGRESS|UNDER_REVIEW|APPROVED|OBSOLETE) "WORK_IN_PROGRESS"
    CATEGORY (UNDEFINED|TEST_REQUIREMENT|BUSINESS|USE_CASE|NON_FUNCTIONAL|FUNCTIONAL) "UNDEFINED"
>

<!ELEMENT REQUIREMENT_VERSION_COVERAGE EMPTY>
<!ATTLIST REQUIREMENT_VERSION_COVERAGE
	REQUIREMENT_VERSION_COVERAGE_ID CDATA #IMPLIED
    VERIFIED_REQ_VERSION_ID CDATA #IMPLIED
    VERIFYING_TEST_CASE_ID CDATA #IMPLIED
>


<!ELEMENT RESOURCE EMPTY>
<!ATTLIST RESOURCE
	RES_ID CDATA #IMPLIED
    NAME CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    CREATED_BY CDATA #IMPLIED
    CREATED_ON CDATA #IMPLIED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED    
    ATTACHMENT_LIST_ID CDATA #IMPLIED
>

<!ELEMENT RLN_RELATIONSHIP EMPTY>
<!ATTLIST RLN_RELATIONSHIP
    ANCESTOR_ID CDATA #IMPLIED
    DESCENDANT_ID CDATA #IMPLIED
>

<!ELEMENT RLN_RELATIONSHIP_CLOSURE EMPTY>
<!ATTLIST RLN_RELATIONSHIP_CLOSURE
    ANCESTOR_ID CDATA #IMPLIED
    DESCENDANT_ID CDATA #IMPLIED
    DEPTH CDATA #IMPLIED
>

<!ELEMENT SIMPLE_RESOURCE EMPTY>
<!ATTLIST SIMPLE_RESOURCE
	RES_ID CDATA #IMPLIED
>

<!ELEMENT TCLN_RELATIONSHIP EMPTY>
<!ATTLIST TCLN_RELATIONSHIP
    ANCESTOR_ID CDATA #IMPLIED
    DESCENDANT_ID CDATA #IMPLIED
>

<!ELEMENT TCLN_RELATIONSHIP_CLOSURE EMPTY>
<!ATTLIST TCLN_RELATIONSHIP_CLOSURE
    ANCESTOR_ID CDATA #IMPLIED
    DESCENDANT_ID CDATA #IMPLIED
    DEPTH CDATA #IMPLIED
>

<!ELEMENT TEST_AUTOMATION_PROJECT EMPTY>
<!ATTLIST TEST_AUTOMATION_PROJECT
    PROJECT_ID CDATA #IMPLIED
    NAME CDATA #IMPLIED
    SERVER_ID CDATA #IMPLIED
>

<!ELEMENT TEST_AUTOMATION_SERVER EMPTY>
<!ATTLIST TEST_AUTOMATION_SERVER
    SERVER_ID CDATA #IMPLIED
    BASE_URL CDATA #IMPLIED
    LOGIN CDATA #IMPLIED
    PASSWORD CDATA #IMPLIED
    KIND CDATA #IMPLIED
>


<!ELEMENT TEST_CASE EMPTY>
<!ATTLIST TEST_CASE
    TCLN_ID CDATA #IMPLIED
    VERSION CDATA #IMPLIED
    EXECUTION_MODE CDATA #IMPLIED
    IMPORTANCE (VERY_HIGH|HIGH|MEDIUM|LOW) "LOW"
    IMPORTANCE_AUTO CDATA #IMPLIED
    PREREQUISITE CDATA #IMPLIED
    REFERENCE CDATA #IMPLIED
    TA_TEST CDATA #IMPLIED
    TC_NATURE  (UNDEFINED|FUNCTIONAL_TESTING|BUSINESS_TESTING|NON_FUNCTIONAL_TESTING|PERFORMANCE_TESTING|SECURITY_TESTING|ATDD|USER_TESTING) "UNDEFINED"
    TC_TYPE (UNDEFINED|COMPLIANCE_TESTING|CORRECTION_TESTING|END_TO_END_TESTING|EVOLUTION_TESTING|PARTNER_TESTING|REGRESSION_TESTING) "UNDEFINED"
    TC_STATUS (WORK_IN_PROGRESS|UNDER_REVIEW|APPROVED|OBSOLETE|TO_BE_UPDATED) "WORK_IN_PROGRESS"
>

	
	
<!ELEMENT TEST_CASE_FOLDER EMPTY>
<!ATTLIST TEST_CASE_FOLDER
    TCLN_ID CDATA #IMPLIED
>

<!ELEMENT TEST_CASE_LIBRARY EMPTY>
<!ATTLIST TEST_CASE_LIBRARY
    TCL_ID CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
>

<!ELEMENT TEST_CASE_LIBRARY_CONTENT EMPTY>
<!ATTLIST TEST_CASE_LIBRARY_CONTENT
    LIBRARY_ID CDATA #IMPLIED
    CONTENT_ID CDATA #IMPLIED
>

<!ELEMENT TEST_CASE_LIBRARY_NODE EMPTY>
<!ATTLIST TEST_CASE_LIBRARY_NODE
    TCLN_ID CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    NAME CDATA #IMPLIED
    CREATED_BY CDATA #IMPLIED
    CREATED_ON CDATA #IMPLIED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
    PROJECT_ID CDATA #IMPLIED    
    ATTACHMENT_LIST_ID CDATA #IMPLIED
>
<!ELEMENT TEST_CASE_STEPS EMPTY>
<!ATTLIST TEST_CASE_STEPS
    TEST_CASE_ID CDATA #IMPLIED
    STEP_ID CDATA #IMPLIED
    STEP_ORDER CDATA #IMPLIED
>

<!ELEMENT TEST_STEP EMPTY>
<!ATTLIST TEST_STEP
    TEST_STEP_ID CDATA #IMPLIED
>

<!ELEMENT TEST_SUITE EMPTY>
<!ATTLIST TEST_SUITE
    ID CDATA #IMPLIED
    NAME CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    ATTACHMENT_LIST_ID CDATA #IMPLIED
    CREATED_BY CDATA #IMPLIED
    CREATED_ON CDATA #IMPLIED
    LAST_MODIFIED_BY CDATA #IMPLIED
    LAST_MODIFIED_ON CDATA #IMPLIED
>

<!ELEMENT TM_TA_PROJECTS EMPTY>
<!ATTLIST TM_TA_PROJECTS
    TM_PROJECT_ID CDATA #IMPLIED
    TA_PROJECT_ID CDATA #IMPLIED
>

<!ELEMENT VERIFYING_STEPS EMPTY>
<!ATTLIST VERIFYING_STEPS
	REQUIREMENT_VERSION_COVERAGE_ID CDATA #IMPLIED
	TEST_STEP_ID CDATA #IMPLIED
>


<!ELEMENT acl_class EMPTY>
<!ELEMENT acl_group EMPTY>
<!ELEMENT acl_group_permission EMPTY>
<!ELEMENT acl_object_identity EMPTY>
<!ELEMENT acl_responsibility_scope_entry EMPTY>
<!ELEMENT action_test_step EMPTY>
<!ELEMENT attachment EMPTY>
<!ELEMENT attachment_content EMPTY>
<!ELEMENT attachment_list EMPTY>
<!ELEMENT auth_user EMPTY>
<!ELEMENT automated_execution_extender EMPTY>
<!ELEMENT automated_suite EMPTY>
<!ELEMENT automated_test EMPTY>
<!ELEMENT bugtracker EMPTY>
<!ELEMENT bugtracker_binding EMPTY>
<!ELEMENT call_test_step EMPTY>
<!ELEMENT campaign EMPTY>
<!ELEMENT campaign_folder EMPTY>
<!ELEMENT campaign_iteration EMPTY>
<!ELEMENT campaign_library EMPTY>
<!ELEMENT campaign_library_content EMPTY>
<!ELEMENT campaign_library_node EMPTY>
<!ELEMENT campaign_test_plan_item EMPTY>
<!ELEMENT cln_relationship EMPTY>
<!ELEMENT cln_relationship_closure EMPTY>
<!ELEMENT core_config EMPTY>
<!ELEMENT core_group EMPTY>
<!ELEMENT core_group_authority EMPTY>
<!ELEMENT core_group_member EMPTY>
<!ELEMENT core_party EMPTY>
<!ELEMENT core_team EMPTY>
<!ELEMENT core_team_member EMPTY>    
<!ELEMENT core_user EMPTY>
<!ELEMENT custom_field EMPTY>
<!ELEMENT custom_field_binding EMPTY>
<!ELEMENT custom_field_option EMPTY>
<!ELEMENT custom_field_rendering_location EMPTY>
<!ELEMENT custom_field_value EMPTY>
<!ELEMENT databasechangelog EMPTY>
<!ELEMENT databasechangeloglock EMPTY>
<!ELEMENT Dataset EMPTY>
<!ELEMENT dataset_param_value EMPTY>
<!ELEMENT denormalized_field_value EMPTY>
<!ELEMENT denormalized_field_rendering_location EMPTY>
<!ELEMENT execution EMPTY>
<!ELEMENT execution_execution_steps EMPTY>
<!ELEMENT execution_step EMPTY>
<!ELEMENT issue EMPTY>
<!ELEMENT issue_list EMPTY>
<!ELEMENT item_test_plan_execution EMPTY>
<!ELEMENT test_suite_test_plan_item EMPTY>
<!ELEMENT item_test_plan_list EMPTY>
<!ELEMENT iteration EMPTY>
<!ELEMENT iteration_test_plan_item EMPTY>
<!ELEMENT iteration_test_suite EMPTY>
<!ELEMENT parameter EMPTY>
<!ELEMENT project EMPTY>
<!ELEMENT project_filter EMPTY>
<!ELEMENT project_filter_entry EMPTY>
<!ELEMENT requirement EMPTY>
<!ELEMENT requirement_audit_event EMPTY>
<!ELEMENT requirement_creation EMPTY>
<!ELEMENT requirement_folder EMPTY>
<!ELEMENT requirement_large_property_change EMPTY>
<!ELEMENT requirement_library EMPTY>
<!ELEMENT requirement_library_content EMPTY>
<!ELEMENT requirement_library_node EMPTY>
<!ELEMENT requirement_property_change EMPTY>
<!ELEMENT requirement_version EMPTY>
<!ELEMENT requirement_version_coverage EMPTY>
<!ELEMENT resource EMPTY>
<!ELEMENT rln_relationship EMPTY>
<!ELEMENT rln_relationship_closure EMPTY>
<!ELEMENT simple_resource EMPTY>
<!ELEMENT tcln_relationship EMPTY>
<!ELEMENT tcln_relationship_closure EMPTY>
<!ELEMENT test_automation_project EMPTY>
<!ELEMENT test_automation_server EMPTY>
<!ELEMENT test_case EMPTY>	
<!ELEMENT test_case_folder EMPTY>
<!ELEMENT test_case_library EMPTY>
<!ELEMENT test_case_library_content EMPTY>
<!ELEMENT test_case_library_node EMPTY>
<!ELEMENT test_case_steps EMPTY>
<!ELEMENT test_step EMPTY>
<!ELEMENT test_suite EMPTY>
<!ELEMENT tm_ta_projects EMPTY>
<!ELEMENT verifying_steps EMPTY>
